{% extends "templates/ad_base.html" %}

{% block title %}
Optimal Manufacturing ERP Software Solutions
{% endblock %}
{% block description %}
<meta name="description"
	content="Explore top-rated manufacturing ERP software tailored for industry excellence, find the best fit for your manufacturing needs." />
{% endblock %}

{% block custom_stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="navbar fixed-top" >
            <div class="logo">
                <a class="navbar-brand" href="https://finbyz.tech">
                    <img src="/files/logo.jfif" alt="Logo" width=140>
                </a>
            </div>
            <div class="contact-info">

                <p><i class="fa fa-envelope">&nbsp;</i>Email: <a href="#" class="link"> info@finbyz.tech</a></p>
                <p><i class="fa fa-phone">&nbsp;</i>Phone: <a href="#" class="link">+91 9925701446</a></p>
                <button class="demo-button"
                    onclick="window.location.href = ('/ad/free-demo')">Free Demo</button>
            </div>
        </div>
    </div>
    <div class="row imagepage p-3 set-margin">
        <div class="col-12 col-md-6">
            <form id="inquiry-ad" name="contact">
                <div class="idea">
                    <h4 class="text-center">Get a Free Demo</h4>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"
                                aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                            aria-describedby="basic-addon1" id="lead_name" required>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                        <input type="text" class="form-control" placeholder="Phone no" aria-label="Phone No"
                            aria-describedby="basic-addon1" id="mobile_no" required>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                            aria-describedby="basic-addon1" id="email" required>
                    </div>
    
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-building"></i></span>
                        <input type="text" class="form-control" placeholder="Company Name" aria-label="Company Name"
                            aria-describedby="basic-addon1" id="company_name" required>
                    </div>
                    <div class="input-group mb-2">
                        <div class="col-12 text-center">
                            <button type="submit" name="submit" class="demo-button">Get a Free Demo</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <div class="textarea">
                <!-- <h2 class="textforh2">Next-Level ERP Software: Advanced, Customized,and Scalable Solution</h2>
                <p class="textforh2">Optimize workflows and lower operational expenses for your business.</p> -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-4 pb-4">
        <div class="col-12 text-center">
            <h1>Industrial <span class="colortext">ERP Software</span> System</h1>
            <div>
                <h5>
                    Our company creates custom software for process and batch operations:
                </h5>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-1"></div>
        <div class="col-12 col-md-4 col-lg-2 text-center">
            <div class="p-2 mt-2 border-dashed"><img src="/files/34.svg" alt="process" class="imageclass">
                <h6>Continuous Process Manufacturing ERP</h6>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-2 text-center">
            <div class="p-2  mt-2 border-dashed"><img src="/files/Batch Mg.svg" alt="process">
                <h6>Batch Manufacturing ERP Software</h6>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-2 text-center">
            <div class="p-2  mt-2 border-dashed"><img src="/files/432.svg" alt="process">
                <h6>Discrete Production ERP Software</h6>
            </div>
        </div>
        <div class="col-12 col-md-2 d-lg-none"></div>
        <div class="col-12 col-md-4 col-lg-2 text-center">
            <div class="p-2 mt-2 border-dashed"><img src="/files/194.svg" alt="process">
                <h6>Repetitive Production ERP Software</h6>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-2 text-center">
            <div class="p-2 mt-2 border-dashed"><img src="/files/subcontracting.svg" alt="process">
                <h6>ERP Solution for Job <br>Work</h6>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <!-- <div class="container-fluid Solution-provider"> -->
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row pt-4 pb-4">
                        <div class="col-12 text-center">
                            <h2>#1 ERP System Provider for <span class="colortext">Manufacturing Industries</span></h2>
                            <p>
                                Cloud-based Manufacturing ERP provides a competitive advantage by enabling users to manage
                                their
                                work
                                from anywhere, eliminating territorial limitations.
                            </p>
                        </div>
                        <div class="col-12">
                            <div class="features-wrapper">
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-files-o"></i></div>
                                    <div class="text">Effortless Production Integration</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-calendar-check-o"></i></div>
                                    <div class="text">Strategic Stock Optimization</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-file-text-o"></i></div>
                                    <div class="text">Unified Operational Visibility</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-tasks"></i></div>
                                    <div class="text">Workflow Simplification</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-cubes"></i></div>
                                    <div class="text">Maintenance Forecasting</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-building-o"></i></div>
                                    <div class="text">Advanced Reporting Tools</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-sitemap"></i></div>
                                    <div class="text">Customizable Workflow Automation</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-clock-o"></i></div>
                                    <div class="text">Real-Time Analytics & Reporting</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-random"></i></div>
                                    <div class="text">Integrated Quality Control</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-wrench"></i></div>
                                    <div class="text">Customize Manufacturing Execution System</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-thumbs-o-up"></i></div>
                                    <div class="text">Computated manufacturing costs</div>
                                </div>
                                <div class="feature-item">
                                    <div class="icon"><i class="fa fa-th-large"></i></div>
                                    <div class="text">Streamlined Production Planning</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="row pt-4 pb-4">
        <div class="col-12 text-center">
            <h2>Our <span class="colortext">Modules</span></h2>
        </div>
    </div>


    <div class="row">
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/Purchase.svg">
            <p>Purchase</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/Stock.svg">
            <p>Stock</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/CRM143f34.svg">
            <p>CRM</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/393.svg">
            <p>Sales</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/178.svg">
            <p>Accounts</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/411.svg">
            <p>Manufacturing</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/Exim.svg">
            <p>Exim</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/Asset.svg">
            <p>Asset</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/Quality.svg">
            <p>Quality</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/54.svg">
            <p>Project</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/166.svg">
            <p>Support</p>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img src="/files/294.svg">
            <p>HR</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pt-4 pb-4">
        <div class="col-12 text-center">
            <h3>Easy-to-integrate <span class="colortext">Modules</span></h3>
            <p>Unlocking Effortless Software Customization!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="module_inner">
                <i class="fa fa-pie-chart"></i>
                <h4>Manufacturing Workflow</h4>
                <ul>
                    <li>Resource Allocation Precision</li>
                    <li>Strategic Production Timelines</li>
                    <li>Streamlined Process Mapping</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="module_inner">
                <i class="fa fa-file-text-o"></i>
                <h4>Production Customization</h4>
                <ul>
                    <li>Materials Management</li>
                    <li>Responsive Implementation</li>
                    <li>Documented Modification</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="module_inner">
                <i class="fa fa-search"></i>
                <h4>Manufacturing Quality</h4>
                <ul>
                    <li>Operational Quality Assurance</li>
                    <li>Product Integrity Verification</li>
                    <li>Incoming Material Validation</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="module_inner">
                <i class="fa fa-dashboard"></i>
                <h4>Monitoring & Notifications</h4>
                <ul>
                    <li>Customized Operational Insights</li>
                    <li>Data-Driven Decision Support</li>
                    <li>Efficient Documentation Control</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="module_inner">
                <i class="fa fa-handshake-o"></i>
                <h4>Streamlined Sales & Service</h4>
                <ul>
                    <li>Lead Conversion</li>
                    <li>Sales Maximization</li>
                    <li>Order Management</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="module_inner">
                <i class="fa fa-dollar"></i>
                <h4>Financial Oversight</h4>
                <ul>
                    <li>Compliance Mastery</li>
                    <li>Tax Automation</li>
                    <li>Strategic Reporting</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="module_inner">
                <i class="fa fa-shopping-cart"></i>
                <h4>Procurement Efficiency</h4>
                <ul>
                    <li>Supplier Assessment</li>
                    <li>Quote Procurement</li>
                    <li>Comparative Analysis</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="module_inner">
                <i class="fa fa-cubes"></i>
                <h4>Inventory Control</h4>
                <ul>
                    <li>Smart Planning</li>
                    <li>Warehouse Optimization</li>
                    <li>Effective Bin Management</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid hidden-xs industry-section">
    <div class="row">
        <div class="row pt-4 pb-4">
            <div class="col-12 text-center">
                <h2>Wide array of <span class="colortext">Industries</span></h2>
                <span>Making your business-operations more streamlined by Using Finbyz Manufacturing ERP </span>
            </div>
        </div>
        <div class="row industry_new_one industry_new_one_2 pb-4">
            <div class="col-12 col-lg-1"></div>
            <div class="col-6 col-md-6 col-lg-1 text-center">
                <img src="/files/nav-chemical8db569.svg" alt="Chemical">
                <p>Chemical</p>
            </div>
            <div class="col-6 col-md-6 col-lg-1 text-center">
                <img src="/files/nav-engineering534286.svg" alt="Engineering">
                <p>Engineering</p>
            </div>
            <div class="col-6 col-md-6 col-lg-1 text-center">
                <img src="/files/nav-logistics6f6533.svg" alt="Logistics">
                <p>Logistics</p>
            </div>
            <div class="col-6 col-md-6 col-lg-1 text-center">
                <img src="/files/21.svg" alt="Manufacturing">
                <p>Paper & Packaging</p>
            </div>
            <div class="col-6 col-md-6 col-lg-1 text-center">
                <img src="/files/nav-agrof1dff8.svg" alt="Agro">
                <p>Agro</p>
            </div>
            <div class="col-6 col-md-6 col-lg-1 text-center">
                <img src="/files/Furniture.svg" alt="Trading">
                <p>Furniture</p>
            </div>
            <div class="col-6 col-md-6 col-lg-1 text-center">
                <img src="/files/Pharma.svg" alt="Trading">
                <p>Pharma</p>
            </div>
            <div class="col-6 col-md-6 col-lg-1 text-center">
                <img src="/files/Textile.svg" alt="Trading">
                <p>Textile</p>
            </div>
            <div class="col-6 col-md-6 col-lg-1 text-center">
                <img src="/files/Plastic.svg" alt="Trading">
                <p>Plastic</p>
            </div>
            <div class="col-6 col-md-6 col-lg-1 text-center">
                <img src="/files/FMCG.svg" alt="Trading">
                <p>FMCG</p>
            </div>
            <div class="col-12 col-lg-1"></div>
        </div>
    </div>
</div>
<div class="container-fluid empower-main">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row pt-4 pb-4">
                    <div class="col-12 text-center empower">
                        <h3>Elevate your small and medium-sized business <br>with the most reliable cloud-based
                            Manufacturing ERP
                            systems.
                        </h3>
                    </div>
                    <div class="col-4 border p-2 text-white text-center" style="font-size: 18px;">
                        <i class="fa fa-dollar"></i><br>Cost-Saving
                    </div>
                    <div class="col-4 border p-2 text-white text-center" style="font-size: 18px;">
                        <i class="fa fa-lock"></i><br>Complete Security
                    </div>
                    <div class="col-4 border p-2 text-white text-center" style="font-size: 18px;">
                        <i class="fa fa-random"></i><br>Flexiblity
                    </div>
                    <div class="col-4 border p-2 text-white text-center" style="font-size: 18px;">
                        <i class="fa fa-object-group"></i><br>Scalability
                    </div>
                    <div class="col-4 border p-2 text-white text-center" style="font-size: 18px;">
                        <i class="fa fa-user"></i><br>Peace of Mind Ensured
                    </div>
                    <div class="col-4 border p-2 text-white text-center" style="font-size: 18px;">
                        <i class="fa fa-clock-o"></i><br>Faster Time to Value
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="conatainer-fluid mt-4 mb-2">
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <div><img src="/files/FOOTER IMAGE.svg" style="max-width: 400px; width: 100%;"></div>
        </div>
        <div class="d-none d-lg-block col-lg-1"></div>
        <div class="col-12 col-md-6 col-lg-5">
            <h3>Why <span class="colortext">FinByz ERP?</span></h3>
            <ul>
                <li>An all-in-one solution for your needs</li>
                <li>Seamless Real-Time Tracking</li>
                <li>Enhances Productivity</li>
                <li>Drives Profitability</li>
                <li>Helps Your Business Grow</li>
                <li>Customers are More Satisfied as a Result</li>
                <li>Automated Manufacturing ERP</li>
            </ul>
            <button class="demo-button" onclick="window.location.href = ('/ad/free-demo')">Free Demo</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center pt-4">
            <div>
                <h3>Our Key Clients for <span class="colortext">Manufacturing ERP</span></h3>
                <p>Trusted by the Best in the Industry</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="finbyz-customer">
                <div class="owl-carousel py-3 p-5">
                    {% set customer_doc = frappe.get_doc("Customer Details", "Customer Details") %}
                    {% for i in customer_doc.get({"doctype":"Customer Details List"}) %}
                    <div class="item pl-20 pr-20">
                        <img src="{{ i.image }}" alt="{{ i.customer }}" title='{{ i.customer }}'
                            class="customer-logo-img" style="height: auto !important; max-width: 150px!important;">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid manufacturerserp row p-5">
    <div class="row">
        <div class="manufacturerserp-main col-12 col-md-6">
            <h3>Why Choose <span class="colortext">Manufacturing ERP </span>Software?</h3>
            <p>Manufacturing ERP Software offers numerous benefits to organizations, simplifying decision-making for
                top
                management through smart dashboard data and centralized information.</p>
            <p><b>Here's why Manufacturing ERP Software is valuable:</b></p>
            <ul>
                <li>Enhances system robustness and standardization.</li>
                <li>Increases production efficiency with automated BOM and production planning.</li>
                <li>Facilitates vendor selection and maintains proper inventory levels.</li>
                <li>Presents historical data in a highly presentable manner.</li>
                <li>Upgrade to Manufacturing ERP Software for streamlined operations and informed decision-making.
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6">
            <img src="/files/software-development.svg">
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="row footer">
            <div class="col-12 pt-3">
                <center>
                    <p>Copyright © 2024 <a href="https://finbyz.tech/" target="_blank">FinByz Tech Pvt Ltd</a> | All
                        Rights
                        Reserved. | <a href="https://finbyz.tech/privacy-policy" target="_blank">Privacy Policy</a></p>
                </center>
            </div>
        </div>
    </div>
</footer>
{% endblock %}