
{% if sub_title %}
<h4 class="text-muted">{{ sub_title }}</h4>
{% endif 	%}
{% if not result -%}
    <div class="text-muted no-results" style="min-height: 300px;">
				<i class="mega-octicon octicon-telescope"></i>
    		{{ no_result_message or _("Nothing to show") }}
    </div>
{% else %}
<div class="container mt-100">
    <div class="col-md-12 justify-content-center mb-10 gallery-category-main">
            <div class="gallery-category-button pull-left">
                <button type="button" class="finbyz-button filter" data-rel="all" style="width:150px">
                        <span>ALL</span>
                </button>
            </div>
            {% for category in gallery_category %}
            <div class="gallery-category-button pull-left">
                <button type="button" class="finbyz-button filter parent-category" data-rel="{{ category.name }}" style="width:150px">
                        <span>{{ category.name }}</span>
                </button>
            </div>
            {% endfor %}
			
        </div>
		<div class="clearfix"></div>
		<div class="col-md-12 justify-content-center mb-10 gallery-category-main">
			{% for category in gallery_sub_category %}
			<div class="gallery-category-button gallery-sub-category-button {{category[1]}} d-none pull-left">
				
                <button type="button" class="btn-sub-category filter" data-rel="{{ category[2] }}">
                        <span>{{ category[0] }}</span>
                </button>
				
            </div>
			{% endfor %}
		</div>
    </div>
</div>
{%- endif %} 
