{% extends "templates/web.html" %}
{% block style %}
<style>
    {{ css }}
</style>    
{%- endblock -%}

{% block content %}
    {% include "templates/includes/top_contact_bar.html" %}
    {% if video %}
    <section id="main_intro" class="h-75vh d-xl-flex align-items-center">
        <div class="container mt-5 mt-sm-5 mt-xl-0">
            <div class="row">
                <div class="col-12 col-lg-5 col-xl-4 web-title d-flex justify-content-center align-items-center text-center">
                    <div>
                        <div class="title-font d-flex align-items-center mt-5 mt-sm-5 mt-xl-0">
                            <h1>{{ title }}</h1>
                        </div>
                        <div>
                            <p class="pt-3">
                                {{ custom_html }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 col-xl-8 text-center">
                    <div>
                        <video width="100%" id="myVideo" src="{{ video }}" height="auto" muted="muted" autoplay>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {{ main_section or html }}
    {% include "templates/includes/other_erp_module.html" %}
    {% include "templates/includes/form/campaign_inquiry_form.html" %}
    <div class="customer">
        {% include 'www/customer.html' %}
    </div>
    {% include "templates/includes/footer/landing_footer.html" %}
{% endblock %}

{%- block script -%}
<script>
    {{ javascript }}
</script>
{%- endblock -%}