<!-- this is a sample default list template -->
{%- if doc.svg_image -%}
<div class=" col-lg-3 col-md-6 col-sm-6 col-xs-12 image-row gallery-filter all {{doc.gallery_category}} {{doc.sub_category_name or ''}}">
	<div class="gallery-list-main">
	     	<a class='normal' href="{{ doc.route }}">
				<div class="text-center bold"><p class=" display-flex link-underline mb-0 mt-30">{{ doc.gallery_title }}</p></div>
	       		<img class="img-fluid center" src="{{ doc.svg_image or doc.animated_image }}"  height="200" width="350" alt="{{ doc.gallery_title }}" title="{{ gallery_title }}">
	      	</a> 
	</div>
</div>

{%- endif -%} 
<style>
.image-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
</style>