{% extends "templates/web.html" %}

{% block page_content %}
<div class="container-fluid">
	<div class="row mt-100 p-lr-50">
		<div class="col-md-12 text-center">
			<h1>{{ gallery_title }}</h1>
			{% if quote %}<div class="inline-block"><p class="sub-text back-quote pl-45">{{ quote }}</p></div>{% endif %}
			<image src={{ animated_image }} title="{{ title }}" alt="{{ title}}" width="70%">
			{% if description %}<p class="pl-45">{{ description }}</p>{% endif %}
		</div>
	</div>
</div>
{% endblock %}

<!-- this is a sample default web page template -->