<footer class="web-footer">
	<div class="footer-outer">
		<div class="footer-inner">
			<section class="footer-section">
					<div>
					<div class="container">
						<div class="row ">
							<div class="col-md-4 co-lg-4 col-xl-4 col-12">
								<div class="">
									<p class="footer-title t-white text-center text-md-left">
										Group Company
									</p>
									<a href="http://www.finbyz.com/" class="text-center text-md-left">
										<div>
		                                    <img src="/svg/finbyz-consulting.svg" alt="www.finbyz.com" title="www.finbyz.com" width= "50%" class="img-responsive">
										</div>
										<p class="footer-txt t-white pt-10 text-center text-md-left">
											<span class="footer-color">www.finbyz.com</span>
										</p>
									</a>
									<p class="footer-txt-md t-gray">
										Providing world class solutions to our clients, FinByz Consulting is pioneering in the field of debt syndication and forex risk management.
									</p>
								</div>
								<br>
								<div class="footer-social mt-20">
									<ul class="footer-social">
										
										<li>
											<a class="zoom" href="https://www.facebook.com/FinByz" target="_blank">
												<img alt="facebook.com/Finbyz" title="Facebook" src="/svg/social-facebook.svg" class="footer-icon-social">
											</a>
										</li>
										<li>
											<a class="zoom" href="https://twitter.com/FinByz" target="_blank">
												<img alt="twitter.com/FinByz" title="Twitter/FinByz" src="/svg/social-twitter.svg" class="footer-icon-social">
											</a>
										</li>
										<!-- <li>
											<a class="zoom" href="https://plus.google.com/s/finbyz" target="_blank">
												<img alt="plus.google.com/s/finbyz" title="plus.google.com/finbyz" src="/svg/social-google.svg" class="footer-icon-social">
											</a>
										</li> -->
										<li>
											<a class="zoom" href="https://www.linkedin.com/company/finbyz" target="_blank">
												<img alt="linkedin.com/company/finbyz" title="linkedin/finbyz" src="/svg/social-linkedin.svg" class="footer-icon-social">
											</a>
										</li>
										<li>
											<a class="zoom" href="https://www.youtube.com/c/Finbyz" target="_blank">
												<img alt="youtube.com/c/Finbyz" title="youtube/Finbyz" src="/svg/social-youtube.svg" class="footer-icon-social">
											</a>
										</li>
										<li>
											<a class="zoom" href="https://www.instagram.com/finbyz/" target="_blank">
												<img alt="https://www.instagram.com/finbyz/" title="instagram/finbyz" src="/svg/social-instagram.svg" class="footer-icon-social">
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-8 co-lg-8 col-xl-8 col-12">
								<div class="row">
									<p>
										{% include "templates/includes/footer/footer_items.html" %}
									</p>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="row-flex finbyz-fadeinup-footer">
									<div class="">
										<img alt="Call Us" title="Call Us" src="/svg/icon-phone.svg" class="footer-icon">
									</div>
									<div class="">
										<p class="footer-title t-white pl-5">
											079 48912428
										</p>
										<p class="footer-txt-sm t-gray pl-5">
											Call Us
										</p>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="row-flex finbyz-fadeinup-footer">
									<div>
										<img alt="Mail Us" title="Mail Us" src="/svg/icon-email.svg" class="footer-icon">
									</div>
									<div>
										<p class="footer-title t-white pl-5 pt-10">
											<a href="mailto:info@finbyz.com">info@finbyz.com</a>
										</p>
										<p class="footer-txt-sm t-gray pl-5">
											Mail Us
										</p>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="row-flex finbyz-fadeinup-footer">
									<div>
										<img alt="location" title="Location" src="/svg/icon-location.svg" class="footer-icon">
									</div>
									<div>
										<p class="footer-title t-white pl-5">
											Ahmedabad , India
										</p>
										<p class="footer-txt-sm t-gray text-left pl-5">
											504-Addor Ambition,Nr. Navrang Circle,<br> Navrangpura,
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="footer-dark">
						<div class="container">
							<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<p class="footer-txt-sm t-gray">
									Copyright &copy; {{ frappe.utils.getdate().year }} 
									<a href="/">
										<span class="t-graylight">FinByz Tech Pvt Ltd</span>
									</a>
								</p>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-12">
								<p class="footer-txt-sm t-gray text-right">
									Developed &amp; Designed by&nbsp;&nbsp;
									<a href="/about#team-finbyz">
										<span class="t-graylight">
											Team FinByz
										</span>
									</a>
								</p>
							</div>
							</div>
						</div>
					</div>
			</section>
		</div>
	</div>
</footer>
