<div class="my-3 col-12 col-sm-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12">
                <h3>{{ doc.job_title }}</h3>
            </div>
            <div class="col-12 col-md-8">
                <p>{{ doc.description }}</p>
                <!-- <p>{{ doc.skills }}</p> -->
                <div class="d-md-flex d-sm-block d-block text-center">
                    <div class="m-2">
                        <a class="finbyz-button" href="/job-application-form?new=1&job_title={{ doc.name }}">
                            {{ _("Apply Now") }}</a>
                    </div>
                    <div class="m-2">
                        <a class="finbyz-button" href="/{{ doc.route }}">
                            Know More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                {%- if doc.image -%}
                <div class="text-center mt-0 pt-0 img-hover-job">
                    <img alt="{{ doc.get(title_field) }}" title="{{ doc.get(title_field) }}" class="img-fluid" src="{{ doc.image }}">
                </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
