{% extends "templates/web.html" %}
{% block title %} {{ _("Job Openings") }} {% endblock title %}

{% block header %}
<h3 class="mt-0 mb-10 jobs-page">{{ _("Job Openings") }}</h3>
{% endblock header %}

{% block page_content %}
<meta
	id="data"
	data-filters="{{ all_filters }}"
	data-no-of-pages="{{ no_of_pages }}"
/>

<div class="row">
	<div class="col-12 p-12">
		<div class="row">
			{% for doc in job_openings %}
			<div class="my-3 col-12 col-sm-12">
				<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12 col-xl-12 web-title">
								<h3 class="title-font pt-100 ">{{ doc.job_title }}</h3>
							</div>
						   
						</div>
						<!-- <div class="container-fluid"> -->
							<div class="row">
									<div class="container-fluid px-sm-5">
										<div class="text-center banner-jobs web-title">
											{% if frappe.db.get_value("Job Opening",doc.name,"image")  %}
											<div class="text-center mt-0 pt-0">
												<img alt="{{ doc.get(title_field) }}" title="{{ doc.get(title_field) }}" class="img-fluid ml-3 mb-3"
											src="{{ frappe.db.get_value('Job Opening',doc.name,'image') }}" style="float: right;">
											</div>
											{%- endif -%}
										</div>
									   <div class="mt-3">
										<h3 class="justify">Job Description</h3>
										<span class="justify " >
			
											{% if '<div class="ql-editor read-mode">' in doc.description[:33] %}
												{{ doc.description[33:-6]|replace("ol>","ul>")}}
											{% elif '<div>' in doc.description[:5] %}
												{{ doc.description[5:-6] |replace("ol>","ul>")}}
											{% else %}
											 {{ doc.description |replace("ol>","ul>")}}
											{% endif %}
										</span>   
									   
								   
										<h3 class="justify mt-5">Key Skills</h3>
										<span class="justify ">{{ frappe.db.get_value("Job Opening", doc.name, "skills") or ''}}</span>
									   </div>
											
											   
										   
									</div>
							</div>
						<!-- </div> -->
						
						<div class="container-fluid">
							<div class=" d-flex align-items-center mt-50 p-lr-50 button">
								<!-- <div class="col"> -->
									<div class="m-2 ">
										<a class="finbyz-button" href="{{ frappe.db.get_value('Job Opening',doc.name,'route') }}">
											<!-- Know More -->
											{{ _("Know More") }}
										</a>
									</div>
								<!-- </div> -->
								<!-- <div class="col"> -->
									<div class="m-2">
										<a class="finbyz-button" href="/job-application-form/new?job_title={{ doc.name }}">
											{{ _("Apply Now") }}
										</a>
									</div>
								<!-- </div> -->
							</div>
						</div>               
				</div>
			</div>
			
			{% endfor %}
		</div>
	</div>
</div>
{% endblock page_content %}
