{% extends "templates/web.html" %}

{% block title %}About Us{% endblock %}
{% block page_sidebar %}
{% include "templates/pages/web_sidebar.html" %}
{% endblock %}
{% block page_content %}

<article class="about-content">
	<div class="container">
	{{ doc.company_introduction or """<p>Some Introduction about your company that you would
			like your website visitor to know.
			More people than you think will read your About page.
			People always like to know who the are doing business with.
			Be authentic and avoid using jargon like 'value added services' etc.
			Be sure to update your company history and
			list of key team members in Website > About Us Settings</p>""" }}

	{% if doc.get({"doctype":"Company History"}) %}
	<div class="text-center pb-20"><h3 class="title-underline">{{ doc.company_history_heading or "Company History" }}</h3></div>
	<div class="timeline">
	{% for d in doc.get({"doctype":"Company History"}) %}	
		 <div class="container {{ loop.cycle('left', 'right') }}">
			<div class="timeline-icon">
				<img src="{{ d.image }}" class="finbyz-zoomin">
			</div>

			<div class="content finbyz-fadeinup">
			  <h2>{{ d.year }}</h2>
			  <h3>{{ d.title }}</h3>
			  <p>{{ d.highlight }}</p>
			</div>
		  </div>
	{% endfor %}
	</div>
	{% endif %}
	{% if doc.middle_content %}
		<div>{{ doc.middle_content }}</div>
	{% endif %}
	{% if doc.get({"doctype":"About Us Team Member"}) %}
	<section>
	<div class="text-center pb-20"><h1 class="title-underline">{{ doc.team_members_heading or "Team Members" }}</h1></div>
	<div class="team-member">
	<div class="row row-flex" itemscope itemtype="http://schema.org/Person">
		{% for d in doc.get({"doctype":"About Us Team Member"}) %}
		<span class="mg-bottom col-md-6 col-sm-6 col-xs-12">
			<div class="col-md-4 col-sm-4 col-xs-4 ">
				<div>
				{% if d.image_link %}
					<img src="{{ d.image_link }}" style="" itemprop="image" class="team-member-img">
				{% else %}
					<img src="/files/person-image.jpg" style="" itemprop="image" class="team-member-img">
				{% endif %}
				</div>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<h2 style="margin-top:-3px">{{ d.full_name }}</h2>
				<h4>{{ d.designation }}</h4>
				<p itemprop="description" class="about_bio">{{ d.bio }}</p>
			</div>
		</span>
		{% endfor %}
	</div>
	</div>
	</section>
	{% endif %}
	{{ doc.footer or "" }}
	</div>
	<!-- {% include "www/customer.html" %} -->
</article>
{% endblock %}
