{% if sub_title %}
<h4 class="text-muted container">{{ sub_title }}</h4>
{% endif %}
{% if not result -%}
<div class="text-muted no-results" style="min-height: 300px;">
	<i class="mega-octicon octicon-telescope"></i>
	{{ no_result_message or _("Nothing to show") }}
</div>
{% else %}

<div class="container-fuild p-lr-50 mt-3">
	{% if doctype == "Gallery"%}
	<div class="test" data-doctype="{{ doctype }}" data-txt="{{ txt or '[notxt]' }}">
	
		<div class="row mt-2">
		
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<ul id="nav" class="d-flex flex-wrap justify-content-center">
						<li id="li_value"><a href="#" class="text-center active">All</a></li>
						{% for i in frappe.db.get_all('Gallery Category') %}
						<li ><a href="#" class="text-center" id ="li_value">{{i.name}}</a>
							
						</li>
						{% endfor %}
						
					</ul>
				</div>
				<div class="col-12" id ="sub_cat_div">
				
					
						
				</div>
		  	</div>
		</div>
		
	</div>
	{% endif %}

	{% if result_heading_template %}{% include result_heading_template %}{% endif %}

	{% if not (route == "invoices") %}
	<div class="margin-setup" {% if (doctype == "Gallery") %}id="show"{% endif %}>
		{% for row in result %}
		{{row}}
		{% endfor %}
	</div>
	{% else %}
	<div class="row result test" {% if (doctype == "Gallery") %}id="show"{% endif %}>
		{% for row in result %}
		{{row}}
		{% endfor %}
	</div>
	{% endif %}
	<div class="more-block {% if not show_more -%} hide {%- endif %}">
		<button class="btn btn-default btn-more btn-sm">{{ _("More") }}</button>
	</div>


</div>
</div>
{%- endif %}

<style>
	#nav {
  list-style: none inside;
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav li {
  display: block;
  position: relative;
  float: left;
  margin : 10px 5px;
  /* background: #1aa8e2; */
  /* menu background color */
}

#nav li a {
  display: block;
  padding: 0;
  text-decoration: none;
  width: 200px;
  /* this is the width of the menu items */
  line-height: 35px;
  box-shadow:0 2px 10px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.1)
  /* this is the hieght of the menu items */
  /* color: white; */
  /* list item font color */
}
#nav .active{
  
  background: #1aa8e2;
  /* this is the hieght of the menu items */
  color: white;
  /* list item font color */
}
.sub_ul .active{
  
  background: #1aa8e2;
  /* this is the hieght of the menu items */
  color: white;
  /* list item font color */
}


#nav li li a {
  font-size: 80%;
}


/* smaller font size for sub menu items */

#nav li a:hover {
  background: #1aa8e2;
  /* background: #051a22; */
  /* color: white; */
  color: white;

}


/* highlights current hovered list item and the parent list items when hovering over sub menues */

#nav ul {
  position: absolute;
  padding: 0;
  left: 0;
  display: none;
  /* hides sublists */
}


</style>
<script>
	
	$("#nav li a").click(function(){	
		$('#nav li a').removeClass('active')
		$(this).addClass('active');
			let test = $(this).text();
			let a = [];

			frappe.call({
			method: 'finbyzweb.api.get_sub_category',
			args: {
				'category': test

			},
			callback: function(res) {
				
				for (i=0; i<res.message.length;i++){
					
					a.push(res.message[i]);
					
				}
				
				let sub_ul_html=myfunction(a)
				
				document.getElementById("sub_cat_div").innerHTML = sub_ul_html;
				
			}
			})
	});
	
	
	
	
	function myfunction(ctrl) {
		let sub_ul='';
		sub_ul += "<ul id='nav' class='sub_ul d-flex flex-wrap justify-content-center'>";
		if(ctrl.length>0){
		for (i in ctrl){
			sub_ul+=`<li id='sub_li'><a rel='${ctrl[i].category}' class='text-center' id='li_sub_value'>${ctrl[i].name}</a></li>`;
		}
		}
		sub_ul+="</ul>"
	
		return sub_ul
	}






	$(document).on("click", "a", function(){
    	$('#nav #sub_li a').removeClass('active')
		$(this).addClass('active');
		
		let value =$(this).text();
		let value1 =$(this).attr('rel');
		if(value1 && value){
			console.log("fdsff")
			frappe.call({
				method: 'finbyzweb.api.select_category',
				args: {
					'gallery_category': value1,
					'gallery_sub_category': value

				},
				callback: function(res) {
					document.getElementById("show").innerHTML = res.message;
				}
			});
		}
    
	});

	
	$(document).ready(function () {
		$("#nav #li_value").click(function (e) {		
				
		let value =$(this).text();
		
		

		frappe.call({
		method: 'finbyzweb.api.select_category',
		args: {
			'gallery_category': value

		},
		callback: function(res) {
			document.getElementById("show").innerHTML = res.message;
		}
		});
		});
		

	});

</script>