{% extends base_template_path %}
{% block hero %}{% endblock %}

{% block content %}

{% macro main_content() %}
<div class="page-content-wrapper">
	<!-- breadcrumbs -->
	<div class="page-breadcrumbs">
		{% block breadcrumbs %}
		{% include 'templates/includes/breadcrumbs.html' %}
		{% endblock %}
	</div>

	{% block page_container %}
	<main class="container my-5">
		<div class="d-flex justify-content-between align-items-center">
			<div class="page-header">
				{% block header %}{% endblock %}
			</div>

			{% if self.header_actions() %}
			<div class="page-header-actions-block">
				{% block header_actions %}{% endblock %}
			</div>
			{% endif %}
		</div>

		<div class="page_content">
								{%- if video -%}
						<div class="container mt-100">
							<div class="row">
								<div class="col-lg-4 col-xl-4 web-title">
									<div class="title-font pt-100 pl-45">
										<h1 class="title-underline">{{ title }}</h1>
									</div>
								</div>
								<div class="col-lg-8 col-xl-8 text-center banner-jobs">
									<video width="100%" id="myVideo" src="{{ video }}" height="auto" muted="muted" autoplay>
									</video>
								</div>
							</div>
						</div>
					{%- elif image -%}
						{%- if doctype == "Job Opening" -%}
						<div class="container">
							<div class="row">
								<div class="col-lg-4 col-xl-4 web-title">
									<div class="title-font pt-100 pl-45">
										<h1 class="title-underline">{{ title }}</h1>
									</div>
								</div>
								<div class="col-lg-8 col-xl-8 text-center banner-jobs">
									<img alt="{{ title }}" height="100%" src="{{ image }}" title="{{ title }}">
								</div>
							</div>
						</div>
						{%- else -%}
						<div class="container mt-100">
							<div class="row">
								<div class="col-lg-4 col-xl-4 web-title">
									<div class="title-font pt-100 pl-45">
										<h1 class="title-underline">{{ title }}</h1>
									</div>
								</div>
								<div class="col-lg-8 col-xl-8">
									<img alt="{{ title }}" height="auto" src="{{ image }}" class="float-right" title="{{ title }}">
								</div>
							</div>
						</div>
						{%- endif -%}
					
					{%- endif -%}
			{%- block page_content -%}{%- endblock -%}
								{% if page_type == "Industry" %}
					<div class="other-modules-section">
						<div class="container ind-module">
							<div class="row mt-50">
								<div class="col-md-12 text-center">
									<h2 class="title-underline">Other Modules of ERP</h2>
								</div>
								<div class="col-12 col-sm-3 mt-20">
									<div class="collapse-tab" id="collapse-module-tab"><img alt="" src=""></div>
									<div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
										<a aria-controls="v-pills-account" aria-selected="true" class="nav-link active" data-toggle="pill"
											href="#v-pills-account" id="v-pills-account-tab" role="tab">Account</a> <a
											aria-controls="v-pills-crm" aria-selected="false" class="nav-link" data-toggle="pill"
											href="#v-pills-crm" id="v-pills-crm-tab" role="tab">CRM</a> <a aria-controls="v-pills-inventory"
											aria-selected="false" class="nav-link" data-toggle="pill" href="#v-pills-inventory"
											id="v-pills-inventory-tab" role="tab">Inventory</a> <a aria-controls="v-pills-purchase"
											aria-selected="false" class="nav-link" data-toggle="pill" href="#v-pills-purchase"
											id="v-pills-purchase-tab" role="tab">Purchase</a> <a aria-controls="v-pills-manufacturing"
											aria-selected="true" class="nav-link" data-toggle="pill" href="#v-pills-manufacturing"
											id="v-pills-manufacturing-tab" role="tab">Manufacturing</a> <a aria-controls="v-pills-hr"
											aria-selected="false" class="nav-link" data-toggle="pill" href="#v-pills-hr" id="v-pills-hr-tab"
											role="tab">Human Resource</a> <a aria-controls="v-pills-support" aria-selected="false"
											class="nav-link" data-toggle="pill" href="#v-pills-support" id="v-pills-support-tab"
											role="tab">Support</a> <a aria-controls="v-pills-exim" aria-selected="false" class="nav-link"
											data-toggle="pill" href="#v-pills-exim" id="v-pills-exim-tab" role="tab">Exim</a>
									</div>
								</div>
								<div class="col-12 col-sm-9 mt-20">
									<div class="tab-content" id="v-pills-tabContent">
										<div aria-labelledby="v-pills-account-tab" class="tab-pane fade show active" id="v-pills-account"
											role="tabpanel">
											<section id="account">
												<div>
													<h2 class="title-underline">Account</h2>
												</div>
												<div class="row">
													<div class="col-12 col-sm-8">
														<p class="back-quote pl-45">Accounting is the language of Business - Warren Buffet.
														</p>
													</div>
													<div class="col-12 col-sm-4">
														<div class="module-img"><img alt="Account" class="zoomimg"
																src="/svg/module-account.svg" title="Account"></div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<p class="text-justify">Accounts module delivers insight into the key account needs
															of your organization and lets you manage the organizational expenses by
															delivering valuable insights. It allows you to automate financial and accounting
															activities such as Sales Invoice, Purchase Invoice and Payment Entries. You can
															also manage your assets with automated depreciation entries at selected period.
														</p>
														<ul>
															<li>
																<p>Multi company accounting with possibility to get combined accounting
																	reports.</p>
															</li>
															<li>
																<p>Automated payment reminders for your receivables.</p>
															</li>
															<li>
																<p>Easy Integration with CRM.</p>
															</li>
															<li>
																<p>Multi-currency accounting for export/import and hedging.</p>
															</li>
															<li>
																<p>Manage term loans with scheduled automated ECS accounting entries.</p>
															</li>
															<li>
																<p>Detail analytical reports on sales, purchase, gross profit.</p>
															</li>
														</ul>
													</div>
												</div>
											</section>
										</div>
										<div aria-labelledby="v-pills-crm-tab" class="tab-pane" id="v-pills-crm" role="tabpanel">
											<section id="crm">
												<div>
													<h2 class="title-underline">CRM</h2>
												</div>
												<div class="row">
													<div class="col-12 col-sm-8">
														<p class="back-quote pl-45">If you are not taking care of your customer, your
															competitors will. - Bob Hooey</p>
													</div>
													<div class="col-12 col-sm-4">
														<div class="module-img"><img alt="CRM" class="zoomimg" src="/svg/module-crm.svg"
																title="CRM"></div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<br>
														<p class="text-justify">The CRM Module of ERP solutions allows you to optimally
															manage your relationship with the customers by providing you a broader range of
															functionalities that are specially designed to improve your customer service.
															Say no to searching multiple platforms like mails to accounting software to get
															360 degree view of customer, you can get conversations, orders, invoices,
															deliveries and payment details all on single page.</p>
														<p>Features:</p>
														<ul>
															<li>
																<p>Manage full conversion cycle from Lead -&gt;Inquiry -&gt;customer
																	management.</p>
															</li>
															<li>
																<p>Never forget to do follow-up calls on time through system reminders.</p>
															</li>
															<li>
																<p>Time line feature like Facebook for each customer/lead allows you to view
																	all mail/phone conversations on single page.</p>
															</li>
															<li>
																<p>Make delegation and monitoring of tasks task more efficient through
																	system generated escalation mails.</p>
															</li>
														</ul>
													</div>
												</div>
											</section>
										</div>
										<div aria-labelledby="v-pills-inventory-tab" class="tab-pane" id="v-pills-inventory"
											role="tabpanel">
											<section id="inventory">
												<div>
													<h2 class="title-underline">Inventory</h2>
												</div>
												<div class="row">
													<div class="col-12 col-sm-8">
														<p class="back-quote pl-45">Inventory is money sitting around in another form. -
															Rhonda Adams</p>
													</div>
													<div class="col-12 col-sm-4">
														<div class="text-center module-img"><img alt="Inventory" class="zoomimg"
																src="/svg/module-inventory.svg" title="Inventory"></div>
													</div>
												</div>
												<div class="row">
													<div>
														<br>
														<p class="text-justify">Stock Inventory management is heart of any ERP. Here you can
															not only check the current stock levels with valuation, but you can also see
															projected quantity of stock based on purchase orders, sales orders and
															production orders in hand. The versatility of this ERP makes stock management
															module highly suitable for all forms of businesses.</p><br>
														<ul>
															<li>
																<p>Manage exact location storage space though Tree structure of warehouse.
																</p>
															</li>
															<li>
																<p>Possibility of Serial No/Batchwise inventory management.</p>
															</li>
															<li>
																<p>Generate product bundles selling multiple items together.</p>
															</li>
															<li>
																<p>Create multiple price lists for each item, including multi-currency price
																	list.</p>
															</li>
															<li>
																<p>Allow seasonal discounts or offer special pricing to loyal customers
																	through Pricing rules based on customer, Customer Group, Territory or
																	Season.</p>
															</li>
															<li>
																<p>Strong quality control based on predefined inspection criteria to be
																	filled in quality check before receipt of delivery of item.</p>
															</li>
														</ul>
													</div>
												</div>
											</section>
										</div>
										<div aria-labelledby="v-pills-purchase-tab" class="tab-pane" id="v-pills-purchase" role="tabpanel">
											<section id="purchase">
												<div>
													<h2 class="title-underline">Purchase</h2>
												</div>
												<div class="row">
													<div class="col-12 col-sm-8">
														<p class="back-quote pl-45">You sell on Emotion, But you justify a Purchase with
															Logic. - Joseph Sugarman</p>
													</div>
													<div class="col-12 col-sm-4">
														<div class="text-center module-img"><img alt="Purchase" class="zoomimg"
																src="/svg/module-purchase.svg" title="Purchase"></div><br>
													</div>
													<div class="row">
														<div class="col-md-12">
															<p class="text-justify">Manage the purchase through workflow of material
																request. You can create request for quotation and send it in mail to
																multiple suppliers with the click of a button. Ensuring multiple quotation
																are received for the requirement and choosing the best quote for purchase
																order, you can improve efficiency of your purchase department. In fact, this
																can improve your bottom line by bringing down your cost of goods.</p>
															<ul>
																<li>
																	<p>Manage your sourcing activities by comparing quotes of multiple
																		suppliers.</p>
																</li>
																<li>
																	<p>Send request for quotation to multiple suppliers on click of a
																		button.</p>
																</li>
																<li>
																	<p>Item-wise or supplier-wise purchase price analytics.</p>
																</li>
																<li>
																	<p>Rate suppliers based on various factors from delivery time to quality
																		of product.</p>
																</li>
																<li>
																	<p>Maintain buffer stock with automatic purchase requisition if
																		available quantity in warehouse is below defined level.</p>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</section>
										</div>
										<div aria-labelledby="v-pills-manufacturing-tab" class="tab-pane fade show"
											id="v-pills-manufacturing" role="tabpanel">
											<section id="manufacturing">
												<div>
													<h2 class="title-underline">Manufacturing</h2>
												</div>
												<div class="row">
													<div class="col-12 col-sm-8">
														<p class="back-quote pl-45">This is where the real work gets done.</p>
													</div>
													<div class="col-12 col-sm-4">
														<div class="text-center module-img"><img alt="Manufacturing" class="zoomimg"
																src="/svg/module-manufacturing.svg" title="Manufacturing"></div>
														<div></div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<br>
															<p class="text-justify">The Manufacturing part of the ERP has been designed to
																serve businesses in diverse industry backgrounds. The versatility of the
																software allows SMEs to manage their manufacturing activities with minimal
																data entries. The system is capable of managing cost of manufactured goods
																based on raw materials consumed and operational cost based on manufacturing
																activity time.</p>
															<ul>
																<li>
																	<p>Manage workstations and standardize operations to be performed with
																		benchmark timing.</p>
																</li>
																<li>
																	<p>Allows Multiple Bill of Materials(BOM) for single item with variation
																		in manufacturing formula.</p>
																</li>
																<li>
																	<p>Manage not only inventory but also operational cost and workstation
																		availability through BoM.</p>
																</li>
																<li>
																	<p>Production planning tool for scheduling manufacturing activities
																		along with sub-assemblies.</p>
																</li>
																<li>
																	<p>Production analysis for each batch against the benchmark for getting
																		possible areas of improvement.</p>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</section>
										</div>
										<div aria-labelledby="v-pills-hr-tab" class="tab-pane" id="v-pills-hr" role="tabpanel">
											<section id="hr">
												<div>
													<h2 class="title-underline">Human Resource</h2>
												</div>
												<div class="row">
													<div class="col-12 col-sm-8">
														<p class="back-quote pl-45">You don't build a business. You build People and then
															people build the business. - Zig Ziglar</p>
													</div>
													<div class="col-12 col-sm-4">
														<div class="text-center module-img"><img alt="Human Resource" class="zoomimg"
																src="/svg/module-hr.svg" title="Human Resource"></div>
														<div></div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<br>
															<p class="text-justify">Human resource is most important for but ignored part of
																most of SMEs. The reduction in time wasted in non-core activities and
																goal-oriented approach increases the productivity of employees. Automation
																of attendance, payroll and expense claim allows better tracking and reduced
																redundancies.</p>
															<ul>
																<li>
																	<p>Manage Employee attendance.</p>
																</li>
																<li>
																	<p>Automated Payroll Processing.</p>
																</li>
																<li>
																	<p>Leave/holiday management.</p>
																</li>
																<li>
																	<p>Expense claim management.</p>
																</li>
																<li>
																	<p>Job openings and applicants.</p>
																</li>
																<li>
																	<p>Professional Appraisal system.</p>
																</li>
																<li>
																	<p>Training and feedback.</p>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</section>
										</div>
										<div aria-labelledby="v-pills-support-tab" class="tab-pane" id="v-pills-support" role="tabpanel">
											<section id="support">
												<div>
													<h2 class="title-underline">Support</h2>
												</div>
												<div class="row">
													<div class="col-12 col-sm-8">
														<p class="back-quote pl-45">Delivery Excellence for creating magical customer
															experience.</p>
													</div>
													<div class="col-12 col-sm-4">
														<div class="text-center module-img"><img alt="Support" class="zoomimg"
																src="/svg/module-support.svg" title="Support"></div>
														<div></div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<br>
															<p class="text-justify">Poor customer service and support costs companies
																billions of dollars each year. According to Customer Engagement Index by
																almost half of consumers will stop buying from a company and move to a
																competitor within one day of having poor customer service. Best brands are
																known for their best in class service and support. ERP helps you create a
																system for tracking and resolving customer issues. You can also manage
																guarantee/warrantee of your products.</p>
															<ul>
																<li>
																	<p>Ticketing system for issue recording, where tickets can be
																		automatically created through customer email.</p>
																</li>
																<li>
																	<p>Possibility of assigning issues to relevant person for resolution.
																	</p>
																</li>
																<li>
																	<p>Automated email/sms to customer on resolution of issue.</p>
																</li>
																<li>
																	<p>Manage invoicing for maintenance/repair service for items out of
																		warrantee or AMC.</p>
																</li>
																<li>
																	<p>Take customer feedback against service to maintain quality standards.
																	</p>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</section>
										</div>
										<div aria-labelledby="v-pills-exim-tab" class="tab-pane" id="v-pills-exim" role="tabpanel">
											<section id="exim">
												<div>
													<h2 class="title-underline">Exim</h2>
												</div>
												<div class="row">
													<div class="col-12 col-sm-8">
														<p class="back-quote pl-45">The Foreign Trade Should be Fair Rather than Free. - Lyn
															Nofziger</p>
													</div>
													<div class="col-12 col-sm-4">
														<div class="text-center module-img"><img alt="exim" class="zoomimg"
																src="/svg/module-exim.svg" title="exim"></div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<br>
														<p class="text-justify">Given the complex nature of export import business we
															designed special module, which will allow you to manage your requirements more
															effectively. As you must deal with many regulations the accuracy of the
															documents is most important for the organization. There are also local lows
															providing special benefits to exports like Duty drawback, MEIS, etc which
															require special accounting treatment. Import / Export finance is also has
															multi-currency nature and many times it come with fixed repayment date.</p>
														<ul>
															<li>
																<p>Generate all export documents like Draft BL, Shipping Invoice, Customer
																	Invoice, Packing List, etc on single click.</p>
															</li>
															<li>
																<p>Manage export/import finance with maturity date.</p>
															</li>
															<li>
																<p>Letter of credit facility with drawn amount, conditions and maturity.</p>
															</li>
															<li>
																<p>Manage forward booking in system and check your hedging ratio.</p>
															</li>
															<li>
																<p>Calculate Duty drawback, MEIS and IGST on exports and make accounting
																	entries for these receivables.</p>
															</li>
															<li>
																<p>Manage calculations of Export and Import against Advance Authorization
																	license.</p>
															</li>
														</ul>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
										<div>
						{% if doctype == "Web Page" and name != "career" %}
						<section class="mt-100 bg-layer inquiry-form-section">
							<div class="container">
								<div class="row p-5">
									<div class="col-md-6 bg-white br-left d-flex align-items-center justify-content-center">
										<div class="mt-4 mb-4">
											<div class="text-center">
											<h2 class="finbyz-fadeinup t-blue">
											Request for FREE Demo
											</h2>
											</div>
											<img src="/files/envelope-icon.svg" alt="Request for FREE Demo" title="Request for FREE Demo" class="finbyz-zoomin pt-4">
										</div>
									</div>
									<div class="col-md-6 mtn-1 mln-2 bg-white br-right">
										<div id="inquiry-form">
											<form id="inquiry" name="contact" class="inquiry-main  finbyz-fadeinup bg-white ml-auto mt-4 mb-4" accept-charset="utf-8">
												<input class="form-control inquiry-input" name="lead_name" type="text" id="lead_name" placeholder="Name">
												<label class="inquiry-label"><span>Name</span>
												</label>
												
												<input class="form-control inquiry-input" name="company_name" type="text" id="company_name" placeholder="Oraganization Name">
												<label class="inquiry-label"><span>Oraganization Name</span>
												</label>
												<input class="form-control inquiry-input" name="email" type="email" id="email" placeholder="Email">
												<label class="inquiry-label"><span>Email</span>
												</label>
												<input class="form-control inquiry-input" data-bind="value:mobile_no" id="mobile_no" name="mobile_no" min="0" required="" placeholder="Mobile No" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
												maxlength = "10"> 
												<label class="inquiry-label"><span>Mobile No</span>
												</label>
													
												<!-- <input name="submit" type="submit" value="Send"/> -->
												<div class="text-center mt-4">
													<button class="btn finbyz-button" name="submit" type="submit" value="Send">Submit</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</section>
						{% endif %}
					</div>
		</div>

	</main>
	{% endblock %}
</div>
{% endmacro %}

{% macro container_attributes() %}
id="page-{{ name or route | e }}" data-path="{{ pathname | e }}" {%- if page_or_generator=="Generator" %}source-type="Generator" data-doctype="{{ doctype }}"{% endif %}
{% endmacro %}

{% if show_sidebar %}
<div class="container">
	<div class="row" {{ container_attributes() }}>
			<div class="pt-4 col-sm-2 border-right sidebar-column d-none d-sm-block">
				{% block page_sidebar %}
				{% include "templates/includes/web_sidebar.html" %}
				{% endblock %}
			</div>
		<div class="col-sm-10 main-column">
			{{ main_content() }}
		</div>
	</div>
</div>
{% else %}
<div {{ container_attributes() }}>
	{{ main_content() }}
</div>
{% endif %}
{% endblock %}
