{% extends base_template_path %}

{% block hero %}{% endblock %}
{% block content %}
<div class="container-fluid" id="page-{{ name or route }}"
	data-path="{{ pathname }}"
	{%- if page_or_generator=="Generator" %}
		data-doctype="{{ doctype }}"{% endif %}>
		{% if show_sidebar %}
			<div class="sidebar-block">
				{% include "templates/includes/web_sidebar.html" %}
			</div>
		{% endif %}
		<div class="{% if show_sidebar %}page-content with-sidebar{% else %}page-content without-sidebar{% endif %}">
			<div class="page-content-wrapper">
				<div class="row page-head">
					<div class='col-sm-12'>
						{% if not no_breadcrumbs and parents %}
						<div class="page-breadcrumbs">
							{% block breadcrumbs %}
							{% include 'templates/includes/breadcrumbs.html' %}
							{% endblock %}
						</div>
						{% endif %}
					</div>
					<div class="col-sm-8 col-xs-6">
						{% block header %}{% endblock %}
					</div>
					<div class="col-sm-4 col-xs-6">
						{% if show_search %}
							<div class="page-search-block">
							{% block search %}
								{% include
									'templates/includes/search_box.html' %}
							{% endblock %}
							</div>
						{% endif %}

						{% if self.header_actions() %}
						<div class="page-header-actions-block">
							{% block header_actions %}{% endblock %}
						</div>
						{% endif %}
					</div>
				</div>
				<div class="page_content">
					{%- if image -%}
					<div class="container mt-50">
						<div class="row">
							<div class="col-md-4 web-title">
								<div class="title-font pt-100 pl-45">
									<h1 class="title-underline">{{ title }}</h1>
								</div>
							</div>
							<div class="col-md-8"><img alt="{{ title }}" height="auto" src="{{ image }}" style="float: right;" title="Career" width="700px"></div>
						</div>
					</div>
					{%- endif -%}
					{%- block page_content -%}{%- endblock -%}
				</div>
			</div>
			<!-- sidebar ends -->
		</div>
</div>
{% endblock %}
