<header class="finbyzNav noDropdownTransition {% if route == "homepage" or route == "index"%}bg_transparent {% endif %}">
    {% include "templates/includes/header-contact.html" %}
    <ul class="navRoot">
        <li class="navSection logo mt-2 mt-lg-0 ml-2">
            <div class="finbyz-logo" style="margin: 4px 11px;">
                <a href="/"><img src="https://finbyz.tech/files/finbyz-tech.svg" class="img-responsive" alt="FinByz Tech Pvt Ltd" title="FinByz Tech Pvt Ltd"></a>
            </div>
        </li>
        <li class="navSection primary  my-2  ">
            <a class="rootLink item-industries hasDropdown colorize" data-dropdown="industries" href="#"> Industries </a>
            <a class="rootLink item-developers hasDropdown colorize" data-dropdown="services" href="#">
                    Services
                </a>
            <a class="rootLink item-developers hasDropdown colorize" data-dropdown="erpnext" href="#">
                ERPNext
            </a>
            <a class="rootLink item-company hasDropdown colorize" data-dropdown="company" href="#">
                    Company
                </a>
            <a class="rootLink item-support" href="/blog">
                    Blog
                </a>
          
            <a class="rootLink hasDropdown item-support" data-dropdown="contact" href="#">
                    Contact Us
                </a>
        </li>
        <li class="navSection secondary">
            {% if not hide_login %}
            <a href="/login" class="rootLink btn-login-area {% if frappe.session.user == 'Guest' %}block_login {% endif %}">{{ _("Login") }}</a> 
            {% endif %}
            {% if frappe.session.user != 'Guest' %}
            <a href="#" class="rootLink hasDropdown" data-dropdown="finbyz-login">
                <span class="user-image-wrapper"></span>
                <span class="full-name ml-1"></span>
                <b class="caret"></b>
            </a>
            {% endif %}
            <a href="#" class="d-none"></a>
        </li>
        <li class="navSection mobile">
            <div id="content">
                <div id="navsidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="nav-wrapper">
                <nav id="navsidebar" class="vh-100">
                    <!-- navsidebar Links -->
                    <div class="d-flex">
                        <img src="/files/FinbyzLogo.svg" alt="logo" title="Logo" height="80">
                        <!-- <h3 class="mt-4 pl-3"><strong>FinByz</strong></h3> -->
                    </div>
                    <ul class="list-unstyled components">
                        <li>
                            <img src="/files/nav-home.svg" title="Home" alt="Home" class="nav-service-icon"><a href="/">Home</a>
                        </li>
                        <li>
                            <a href="" data-ls="aboutsubmenu" class="go-tosub-menu" data-toggle="collapse" aria-expanded="false">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow.svg" alt="Left Arrow" title="About Company">
                                <img class="nav-service-icon" src="/files/nav-about-company.svg" alt="About Company" title="About Company">About Company</a>
                            <img data-ls="aboutsubmenu" src="/files/right-arrow.svg" class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled ml-5" id='aboutsubmenu'>
                                <li>
                                    <a href="/about"><img class="nav-service-icon" src="/files/au-about-us.svg" alt="About FinByz" title="About FinByz">About FinByz</a>
                                </li>
                                <li>
                                    <a href="/clients"><img class="nav-service-icon" src="/files/au-customers.svg" alt="Customers" title="Customers">Customer</a>
                                </li>
                                <li>
                                    <a href="/steer-your-vision"><img class="nav-service-icon" src="/files/au-steer-your-vision.svg" alt="Steer Your Vision" title="Steer Your Vision">Steer Your Vision</a>
                                </li>
                                <li>
                                    <a href="/career"><img class="nav-service-icon" src="/files/nav-career.svg" alt="Jobs" title="Jobs">Career</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" data-ls="industrysubmenu" data-toggle="collapse" aria-expanded="false" class="go-tosub-menu">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow.svg" alt="Left Arrow" title="Industries">
                                <img class="nav-service-icon " src="/files/nav-industry.svg" alt="Industries" title="Industries">Industries</a>
                            <img data-ls="industrysubmenu" src="/files/right-arrow.svg" class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled ml-5" id='industrysubmenu'>
                                <li>
                                    <a href="/erp-for-chemical-industry"><img class="nav-service-icon" src="/files/nav-chemical.svg" alt="Chemical" title="Chemical">Chemical</a>
                                </li>
                                <li>
                                    <a href="/erp-for-engineering-industry"><img class="nav-service-icon" src="/files/nav-engineering.svg" alt="Engineering" title="Engineering">Engineering</a>
                                </li>
                                <li>
                                    <a href="/erp-for-logistics-industry"><img class="nav-service-icon" src="/files/nav-logistics.svg" alt="Logistics" title="Logistics">Logistics</a>
                                </li>
                                <li>
                                    <a href="/erp-for-manufacturing-industry"><img class="nav-service-icon" src="/files/nav-manufacturing.svg" alt="Manufacturing" title="Manufacturing">Manufacturing</a>
                                </li>
                                <li>
                                    <a href="/erp-for-agro-commodity"><img class="nav-service-icon" src="/files/nav-agro.svg" alt="Agro Commodity" title="Agro Commodity">Agro Commodity</a>
                                </li>
                                <li>
                                    <a href="/erp-for-trading-industry"><img class="nav-service-icon" src="/files/nav-trading.svg" alt="Trading" title="Trading">Trading</a>
                                </li>
                                <li>
                                    <a class="btn-next d-flex justify-content-end align-items-center ind-link" href="/erp-for-industry" target="_blank">
                                        <span class="pr-3 t-blue opac-1">View
                                                More</span>
                                        <svg class="finbyz-icon finbyz-icon-arrow-right1">
                                                <use href="#finbyz-icon-arrow-right1"></use>
                                            </svg>
                                        <svg class="finbyz-icon icon-hover finbyz-icon-arrow-right-1">
                                                <use href="#finbyz-icon-arrow-right-1"></use>
                                            </svg>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" data-ls="servicesubmenu" data-toggle="collapse" aria-expanded="false" class="go-tosub-menu">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow.svg" alt="Left Arrow" title="Web App Development">
                                <img class="nav-service-icon" src="/files/nav-services.svg" alt="Services" title="Services">Services</a>
                            <img data-ls="servicesubmenu" src="/files/right-arrow.svg" class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled ml-5" id='servicesubmenu'>
                                <li>
                                    <img class="nav-service-icon" src="/files/ser-erp-implementation.svg" alt="ERP Implementation" title="ERP Implementation"> <a href="/erp-software" class="link-underline p-1">ERP Implementation</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/ser-software-development.svg" alt="Software Development" title="Software Development"><a href="/software-development" class="link-underline p-1">Software Development</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/ser-website-development.svg" alt="Website Development" title="Website Development"><a href="/website-development" class="link-underline p-1">Website Development</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/ser-it-consulting.svg" alt="IT Consulting" title="IT Consulting"><a href="/it-consulting" class="link-underline p-1">IT Consulting</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/ser-crm-system.svg" alt="CRM Software" title="CRM Software"><a class="link-underline p-1" href="/crm-software">CRM Software</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/ser-data-analytics.svg" alt="Data Analytics" title="Data Analytics"><a class="link-underline p-1" href="/data-analytics">Data Analytics</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/ser-hr-system.svg" alt="HR System" title="HR System"><a class="link-underline p-1" href="/human-resource-system">HR System</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/ser-web-development.svg" alt="Web App Development" title="Web App Development"><a class="link-underline p-1" href="/web-application-development">Web App Development</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" data-ls="ERPNextsubmenu" data-toggle="collapse" aria-expanded="false" class="go-tosub-menu">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow.svg" alt="Left Arrow" title="Web App Development">
                                <img class="nav-service-icon" src="/files/ErpNext.svg" alt="ERPNext" title="ERPNext">ERPNext</a>
                            <img data-ls="ERPNextsubmenu" src="/files/right-arrow.svg" class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled ml-5" id='ERPNextsubmenu' >
                                <li>
                                    <img class="nav-service-icon" src="/files/36.svg" alt="Certified Partner" title="Certified Partner"> <a href="/erpnext-certified-partner" class="link-underline p-1">ERPNext Certified Partner</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/provide-ways-to-reach-you.svg" alt="ERP Implementer" title="ERP Implementer"><a href="/hire-erpnext-implementer" class="link-underline p-1">Hire ERPNext Implementer</a>
                                </li>
                                <!-- <li>
                                    <img class="nav-service-icon" src="/files/ERP Developer.svg" alt="ERP Developer" title="ERP Developer"><a href="#" class="link-underline p-1">Hire ERPNext Developer</a>
                                </li> -->
                                <li>
                                    <img class="nav-service-icon" src="/files/Meeting-Management-Logo.svg" alt="Meeting Management App" title="Meeting Management App"><a href="/meeting-managment" class="link-underline p-1">Meeting Management</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/Advance-Authorizaion-License-logo.svg" alt="Advance-Authorization-License" title="Advance-Authorization-License"><a class="link-underline p-1" href="/advanced-authorisation-licence">Advance Authorisation Licence</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/Rodtep-License-Logo.svg" alt="RODTEP Claim Management" title="RODTEP Claim Management"><a class="link-underline p-1" href="/rodtep-claim">Rodtep Claim</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/Forward Contract-Logo.svg" alt="Forward Contract" title="Forward Contract"><a class="link-underline p-1" href="/forward-contract">Forward Contract</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/EMD-Logo.svg" alt="EMD" title="EMD"><a class="link-underline p-1" href="/emd_management">EMD Management</a>
                                </li>
                                <li>
                                    <img class="nav-service-icon" src="/files/FD-Management-Logo.svg" alt="FD" title="FD"><a class="link-underline p-1" href="/fd-management">FD Management</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <img class="nav-service-icon" src="/files/nav-tech-update.svg" alt="Blog" title="Blog"><a href="/blog">Blog</a>
                        </li>
                        <li>
                            <img class="nav-service-icon" src="/files/nav-Gallery.svg" alt="Gallery" title="Gallery"><a href="/gallery">Gallery</a>
                        </li>
                        <li><img class="nav-service-icon" src="/files/nav-call.svg" alt="Conatct" title="Conatct"><a href="/contact">Contact</a></li>
                        {% if not hide_login %}
                        <li class="btn-login-area">
                            <img class="nav-service-icon" src="/files/nav-login.svg" alt="Login" title="Login"><a href="/login">{{ _("Login") }}</a>
                        </li>
                        {% endif %}
                        {% if frappe.session.user != 'Guest' %}
                            <li>
                                <a data-ls="loginsubmenu" class="go-tosub-menu" data-toggle="collapse" aria-expanded="false" href="#">
                                    <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow.svg" alt="Left Arrow" title="About Company">
                                    <span class="user-image-wrapper"></span>
                                    <span class="full-name"></span>
                                    <b class="caret"></b>
                                </a>
                                <!-- <img data-ls="loginsubmenu" src="/files/right-arrow.svg" class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15"> -->
                                <ul class="collapse list-unstyled ml-5  " id='loginsubmenu'>
                                    <li>
                                        <a class="" href="/me" rel="nofollow">
                                            <img class="nav-service-icon" src="/files/nav-my-account.svg" alt="About FinByz" title="About FinByz">
                                            <h6 class="link-underline mt-1">{{ _('My Account') }}
                                            </h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="linkContainer item-about" href="/?cmd=web_logout" rel="nofollow">
                                            <img class="nav-service-icon" src="/files/nav-logout.svg" alt="About FinByz" title="About FinByz">
                                            <h6 class="link-underline mt-1">{{ _('Logout') }}
                                            </h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="linkContainer item-about" href="/desk" rel="nofollow">
                                            <img class="nav-service-icon" src="/files/nav-switch-to-desk.svg" alt="About FinByz" title="About FinByz">
                                            <h6 class="link-underline mt-1">{{ _('Switch To Desk') }}
                                            </h6>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            </div>
        </li>
    </ul>

    <div class="dropdownRoot">
        <div class="dropdownBackground" style="transform: translateX(452px) scaleX(0.707692) scaleY(1.1075);">
            <div class="alternateBackground" style="transform: translateY(255.53px);"></div>
        </div>
        <div class="dropdownArrow" style="transform: translateX(636px) rotate(45deg);"></div>
        <div class="dropdownContainer" style="transform: translateX(452px); width: 400px; height: 443px;">
            <div class="dropdownSection left" data-dropdown="industries">
                <div class="dropdownContent">
                    <div class="linkGroup">
                        <ul class="industryGroup">
                            <li>
                                <a class="linkContainer item-chemical" href="/erp-for-chemical-industry">
                                    <img src="/files/nav-chemical.svg" title="Chemical" alt="Chemical" class="nav-icon">
                                    <div>
                                        <h6 class="link-underline">Chemical</h6>
                                        <p class="nav-subtext">Change the way you manage the samples, recipe, and inventory.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="linkContainer item-manufacturing" href="/erp-for-manufacturing-industry">
                                    <img src="/files/nav-manufacturing.svg" title="Manufacturing" alt="Manufacturing" class="nav-icon">
                                    <div>
                                        <h6 class="link-underline">Manufacturing</h6>
                                        <p class="nav-subtext">Cut down costs, get a vast array of benefits.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="linkContainer item-engineering" href="/erp-for-engineering-industry">
                                    <img src="/files/nav-engineering.svg" title="Engineering" alt="Engineering" class="nav-icon">
                                    <div>
                                        <h6 class="link-underline">Engineering</h6>
                                        <p class="nav-subtext">Systematic data storage to help you make the right decisions.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="linkContainer item-logistics" href="/erp-for-logistics-industry">
                                    <img src="/files/nav-logistics.svg" title="Logistics" alt="Logistics" class="nav-icon">
                                    <div>
                                        <h6 class="link-underline">Logistics</h6>
                                        <p class="nav-subtext">Manage all fleet-related activities with ease.</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="linkContainer item-agro-commodity" href="/erp-for-agro-commodity">
                                    <img src="/files/nav-agro.svg" title="Agro Commodity" alt="Agro Commodity" class="nav-icon">
                                    <div>
                                        <h6 class="link-underline">Agro Commodity</h6>
                                        <p class="nav-subtext">Innovative solution to simplify your agro-business.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="linkContainer item-trading" href="/erp-for-trading-industry">
                                    <img src="/files/nav-trading.svg" title="Trading" alt="Trading" class="nav-icon">
                                    <div>
                                        <h6 class="link-underline">Trading</h6>
                                        <p class="nav-subtext">Let go of traditional ways of managing sales and distribution.
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="linkGroup linkList prodsubGroup">
                        <li class="text-center">
                            <a class="" href="/erp-for-industry">
                                <h6 class="title-underline">View All</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dropdownSection active" data-dropdown="services">
                <div class="dropdownContent">
                    <div class="linkGroup serviceGroup">

                        <div class="">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                                    <ul class="box-border p-3">
                                        <li class="flex-inner-nav o_tip active" id="c1">
                                            <h5>Team of qualified professionals</h5>
                                            <p class="nav-subtext ">Our dedicated and skilled workforce is committed to providing services of the highest quality. </p>
                                        </li>
                                        <li class="flex-inner-nav o_tip" id="c2">
                                            <h5>Powerful and agile</h5>
                                            <p class="nav-subtext">We are well acquainted with the latest technologies and build fast and responsive solutions exactly according to your needs.</p>
                                        </li>
                                        <li class="flex-inner-nav o_tip" id="c3">
                                            <h5>Assured satisfaction</h5>
                                            <p class="nav-subtext">Age-long experience in the software industry has helped us deliver on-time results with utmost client satisfaction.
                                            </p>
                                        </li>
                                    </ul>
                                    <div class="c1 active float-left px-2 p-3">
                                        <a class="tabanchor-nav"  href="#c1"><img src="/files/resistance-within-the-team.svg" alt="resistance-within-the-team" title="resistance-within-the-team" class="nav-icon "></a>
                                    </div>
                                    <div class="c2 px-2 float-left p-3">
                                        <a class="tabanchor-nav" href="#c2"><img src="/files/nav-powerful-and-agile.svg" alt="nav-powerful-and-agile" title="nav-powerful-and-agile"  class="nav-icon"></a>
                                    </div>
                                    <div class="c3 px-2 p-3">
                                        <a class="tabanchor-nav" href="#c3"><img src="/files/nav-assured-satisfation.svg" alt="nav-assured-satisfation" title="nav-assured-satisfation" class="nav-icon"></a>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-12 col-sm-8 col-md-6 col-lg-6">
                                            <ul>
                                                <li>
                                                    <img class="nav-service-icon" src="/files/ser-erp-implementation.svg" alt="ERP Implementation" title="ERP Implementation">
                                                    <a href="/erp-software" class="link-underline p-1">
                                                        <h6 class="mt-1">ERP Implementation</h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <img class="nav-service-icon" src="/files/ser-software-development.svg" alt="Software Development" title="Software Development">
                                                    <a href="/software-development" class="link-underline p-1">
                                                        <h6 class="mt-1">Software Development</h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <img class="nav-service-icon" src="/files/ser-website-development.svg" alt="Website Development" title="Website Development">
                                                    <a href="/website-development" class="link-underline p-1">
                                                        <h6 class="mt-1">Website Development</h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <img class="nav-service-icon" src="/files/ser-it-consulting.svg" alt="IT Consulting" title="IT Consulting">
                                                    <a href="/it-consulting" class="link-underline p-1">
                                                        <h6 class="mt-1">IT Consulting</h6>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-8 col-md-6 col-lg-6">
                                            <ul>
                                                <li>
                                                    <img class="nav-service-icon" src="/files/ser-crm-system.svg" alt="CRM Software" title="CRM Software">
                                                    <a class="link-underline p-1" href="/crm-software">
                                                        <h6 class="mt-1">CRM Software</h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <img class="nav-service-icon" src="/files/ser-data-analytics.svg" alt="Data Analytics" title="Data Analytics">
                                                    <a class="link-underline p-1" href="/data-analytics">
                                                        <h6 class="mt-1">Data Analytics</h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <img class="nav-service-icon" src="/files/ser-hr-system.svg" alt="HR System" title="HR System">
                                                    <a class="link-underline p-1" href="/human-resource-system">
                                                        <h6 class="mt-1">HR System</h6>
                                                    </a>
                                                </li>
                                                <li>
                                                    <img class="nav-service-icon" src="/files/ser-web-development.svg" alt="Web App Development" title="Web App Development">
                                                    <a class="link-underline p-1" href="/web-application-development">
                                                        <h6 class="mt-1">Web App Development</h6>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-sm-6 col-md-8 col-lg-6">
                                    ,msc,s
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <ul class="linkGroup linkList developersGroup float-left">
                        <li>
                            <h4>FinByz Updates</h4>
                        </li>
                        <li>
                            <img class="nav-service-icon" src="/files/nav-tech-update.svg" alt="Tech Update" title="Tech Update">
                            <a class="link-underline" href="/blog">
                                <h6 class="mt-1">Tech Update</h6>
                            </a>
                        </li>
                        <li>
                            <img class="nav-service-icon" src="/files/nav-Gallery.svg" alt="Gallery" title="Gallery">
                            <a class="link-underline" href="/gallery">
                                <h6 class="mt-1">Gallery</h6>
                            </a>
                        </li>
                    </ul>
                    <ul class="linkGroup linkList developersGroup float-right">
                        <li>
                            <h4>Inquiry</h4>
                        </li>
                        <li>
                            <img class="nav-service-icon" src="/files/nav-call.svg" alt="Phone" title="Phone">
                            <a class="link-underline" href="tel:+91 9925701446" >
                                <h6 class="mt-1">+91 9925701446</h6>
                            </a>
                        </li>
                        <li>
                            <img class="nav-service-icon" src="/files/nav-email.svg" alt="Email" title="Email">
                            <a class="link-underline" href="mailto:inquiry@finbyz.tech">
                                <h6 class="mt-1">inquiry@finbyz.tech</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="dropdownSection active" data-dropdown="erpnext">
                <div class="dropdownContent">
                    <div class="linkGroup serviceGroup">

                       
                            <div class="row" style="width:100%">
                                <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                                    <!-- <ul class="p-3">
                                        <li class="flex-inner-nav o_tip active" id="c1">
                                            <h5>Team of qualified professionals</h5>
                                            <p class="nav-subtext ">Our dedicated and skilled workforce is committed to providing services of the highest quality. </p>
                                        </li>
                                        <li class="flex-inner-nav o_tip" id="c2">
                                            <h5>Powerful and agile</h5>
                                            <p class="nav-subtext">We are well acquainted with the latest technologies and build fast and responsive solutions exactly according to your needs.</p>
                                        </li>
                                        <li class="flex-inner-nav o_tip" id="c3">
                                            <h5>Assured satisfaction</h5>
                                            <p class="nav-subtext">Age-long experience in the software industry has helped us deliver on-time results with utmost client satisfaction.
                                            </p>
                                        </li>
                                    </ul> -->
                                    <ul class="erpnextGroup" >
                                        <li>
                                            <a class="linkContainer " href="/erpnext-certified-partner">
                                                <img src="/files/36.svg" title="Certified Partner" alt="Certified Partner" width="40" height="40">
                                                <div>
                                                    <h6 class="link-underline mx-2">ERPNext Certified Partner</h6><br/>
                                                    <img src="/files/partner.png" style="float: right;" width="145" height="60">
                                                    <span class="nav-subtext  my-0 justify ">With more than 8 years of experience in ERPNext Implementation we are committed to add value.
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="linkContainer " href="/hire-erpnext-implementer">
                                                <img src="/files/provide-ways-to-reach-you.svg" title="ERPNext Implementor" alt="ERPNext Implementor" width="40" height="40">
                                                <div>
                                                    <h6 class="link-underline mx-2">Hire ERPNext Implementer</h6>
                                                    <p class="nav-subtext mx-2 my-0">We have gained the necessary skills and knowledge to provide effective solutions that cater to your business needs.</p>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- <li>
                                            <a class="linkContainer " href="#">
                                                <img src="/files/ERP Developer.svg" title="ERPNext Developer" alt="ERPNext Developer" width="40" height="40">
                                                <div>
                                                    <h6 class="link-underline mx-2">Hire ERPNext Developer</h6>
                                                    <p class="nav-subtext mx-2 my-0">small text.
                                                    </p>
                                                </div>
                                            </a>
                                        </li> -->
                                       
                                    </ul>
                                  
                                </div>
                                <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-12 col-sm-8 col-md-6 col-lg-6">
                                            <ul style="width:max-content"> 
                                                <li class="my-2">
                                                    <img class="nav-service-icon" src="/files/Meeting-Management-Logo.svg" alt="Meeting Management App" title="Meeting Management App" width="35" height="35">
                                                    <a href="/meeting-managment" class="link-underline p-1">
                                                        <h6 class="mt-1">Meeting Management</h6>
                                                    </a>
                                                </li>
                                                <li class="my-2">
                                                    <img class="nav-service-icon" src="/files/Advance-Authorizaion-License-logo.svg" alt="Advance-Authorization-License" title="Advance-Authorization-License" width="35" height="35">
                                                    <a href="/advanced-authorisation-licence" class="link-underline p-1">
                                                        <h6 class="mt-1">Advance Authorisation Licence</h6>
                                                    </a>
                                                </li>
                                                <li class="my-2">
                                                    <img class="nav-service-icon" src="/files/Rodtep-License-Logo.svg" alt="RODTEP Claim Management" title="RODTEP Claim Management">
                                                    <a href="/rodtep-claim" class="link-underline p-1">
                                                        <h6 class="mt-1">Rodtep Claim </h6>
                                                    </a>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-8 col-md-6 col-lg-6">
                                            <ul style="width:max-content">
                                                <li class="my-2">
                                                    <img class="nav-service-icon" src="/files/Forward Contract-Logo.svg" alt="Forward Contract" title="Forward Contract">
                                                    <a class="link-underline p-1" href="/forward-contract">
                                                        <h6 class="mt-1">Forward Contract</h6>
                                                    </a>
                                                </li>
                                                <li class="my-2">
                                                    <img class="nav-service-icon" src="/files/EMD-Logo.svg" alt="EMD" title="EMD">
                                                    <a class="link-underline p-1" href="/emd_management">
                                                        <h6 class="mt-1">EMD Management</h6>
                                                    </a>
                                                </li>
                                                <li class="my-2">
                                                    <img class="nav-service-icon" src="/files/FD-Management-Logo.svg" alt="FD" title="FD">
                                                    <a class="link-underline p-1" href="/fd-management">
                                                        <h6 class="mt-1">FD Management</h6>
                                                    </a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <ul class="box-border p-3 mt-4">
                                        <li class="" >
                                            <h5>Why Us As ERPNext Partner</h5>
                                            <p class="nav-subtext ">As a certified partner, we are committed to providing you with the highest level of service and support, from initial consultation to post-implementation maintenance. </p>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <!-- <div class="col-12 col-sm-6 col-md-8 col-lg-6">
                                    ,msc,s
                                </div> -->
                            </div>
                       
                    </div>
                </div>
            </div>
            <div class="dropdownSection right" data-dropdown="company">
                <div class="dropdownContent">
                    <ul class="linkGroup linkList companyGroup">
                        <li>
                            <a class="linkContainer item-about" href="/about">
                                <img class="nav-service-icon" src="/files/au-about-us.svg" alt="About FinByz" title="About FinByz">
                                <h6 class="link-underline mt-1">About FinByz
                                </h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer item-customers" href="/clients">
                                <img class="nav-service-icon" src="/files/au-customers.svg" alt="Customers" title="Customers">
                                <h6 class="link-underline mt-1">Customers</h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer item-customers" href="/steer-your-vision">
                                <img class="nav-service-icon" src="/files/au-steer-your-vision.svg" alt="Steer Your Vision" title="Steer Your Vision">
                                <h6 class="link-underline mt-1">Steer Your Vision</h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer item-jobs" href="/career">
                                <img class="nav-service-icon" src="/files/nav-career.svg" alt="Jobs" title="Jobs">
                                <h6 class="link-underline mt-1">Career</h6>
                            </a>
                        </li>
                    </ul>
                    <div class="linkGroup blogGroup">
                        <a class="linkContainer" href="/blog">
                            <img class="nav-service-icon" src="/files/nav-tech-update.svg" alt="Blog" title="Blog">
                            <h5 class="link-underline mt-1">From the blog</h5>
                        </a>

                        {%- set blog = frappe.get_list('Blog Post',filters={'published': 1},fields=["title","route"],order_by='published_on desc',limit=3) -%}
                        <ul class="blogPosts">
                            {%- for d in blog -%}
                            <li>
                                <a href="{{ d.route }}">
                                    <span>{{ d.title }}</span>
                                </a>
                            </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dropdownSection right" data-dropdown="contact">
                <div class="dropdownContent">
                    <ul class="linkGroup linkList contactGroup pb-0">
                        <li>
                            <a class="linkContainer item-about" href="/contact">
                                <img class="nav-service-icon" src="/files/nav-call.svg" alt="Contact" title="Conatct">
                                <h6 class="link-underline mt-1">Inquiry
                                </h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer item-customers" href="/job-application-form?new=1">
                                <img class="nav-service-icon" src="/files/nav-jobs.svg" alt="Job" title="Job">
                                <h6 class="link-underline mt-1">Job Application</h6>
                            </a>
                        </li>
                    </ul>
                    <div class="linkGroup blogGroup">
                        <a class="linkContainer" href="/jobs">
                            <img class="nav-service-icon" src="/files/job-opening.svg" alt="Job Opening" title="Job Opening">
                            <h5 class="link-underline mt-1">Job Opening</h5>
                        </a>

                        {%- set jobopen = frappe.get_list('Job Opening',filters={'publish': 1},fields=["job_title","route"],order_by='modified desc',limit=3) -%}
                        <ul class="blogPosts">
                            {%- for d in jobopen -%}
                            <li>
                                <a href="/{{ d.route }}">
                                    <span>{{ d.job_title }}</span>
                                </a>
                            </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </div>
            </div>
            {% if frappe.session.user != 'Guest' %}
            <div class="dropdownSection left logged-in" data-dropdown="finbyz-login">
                <div class="dropdownContent">
                    <ul class="linkGroup linkList loginGroup">
                        <li>
                            <a class="linkContainer item-about" href="/me" rel="nofollow">
                                <img class="nav-service-icon" src="/files/nav-my-account.svg" alt="My account" title="My account">
                                <h6 class="link-underline mt-1">{{ _('My Account') }}
                                </h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer item-about" href="/?cmd=web_logout" rel="nofollow">
                                <img class="nav-service-icon" src="/files/nav-logout.svg" alt="Logout" title="Logout">
                                <h6 class="link-underline mt-1">{{ _('Logout') }}
                                </h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer item-about" href="/desk" rel="nofollow">
                                <img class="nav-service-icon" src="/files/nav-switch-to-desk.svg" alt="Desk" title="Desk">
                                <h6 class="link-underline mt-1">{{ _('Switch To Desk') }}
                                </h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>