{% extends "templates/web.html" %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}



{% block page_content %}
<div class="container mt-50">
	<div class="row">
		<div class="col-md-4 web-title">
			<div class="title-font h1-large pt-100">
				<h1 class="title-underline">{{ job_title }}</h1>
			</div>
		</div>
		
		<div class="col-md-8"><img src="{{ image }}" style="float: right;" width="700px" height="300px" alt="{{ job_title }}" title="{{ job_title }}">
		</div>
	</div>
	{%- if description -%}
	<div class="row mt-50">
		<div class="col-md-12">
		<h3>Job Description</h3>
			{{ description }}
		</div>
	</div>
	{% endif %}
	{%- if skills -%}
	<div class="row mt-50">
		<div class="col-md-12">
		<h3>Key Skills</h3>
			{{ skills }}
		</div>
	</div>
	{% endif %}
</div>


<div style='margin-top: 30px' class="button">
	<a class='finbyz-button'
	href='/job-application?job_title={{ doc.name }}'>
	{{ _("Apply Now") }}</a>
</div>

{% endblock %}
