{% extends "templates/web.html" %}
{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}




{% block page_content %}
<div class="container-fluid">
	<div class="row">
				<div class="container">
					<div class="text-center banner-jobs">
						<img alt="{{ title }}" height="100%" src="{{ image }}" title="{{ title }}" style="float: right;margin-left: 30px; margin-bottom: 10px;">
					</div>
					<div class="mt-3">
							<h3 style="text-align: justify;">Job Description</h3>
							<span class="justify-word"> {{ description }}</span>
						
				
							<h3 style="text-align: justify;">Key Skills</h3>
							<span class="justify-word">{{ skills }}</span>
					</div>
				</div>
			</div>
				
	</div>
	<!-- {%- if description -%}
	<div class="row mt-50 p-lr-50">
		<div class="col-md-12 pl-45">
		<h3>Job Description</h3>
			{{ description }}
		</div>
	</div>
	{% endif %}
	{%- if skills -%}
	<div class="row mt-50 p-lr-50">
		<div class="col-md-12  pl-45">
		<h3>Key Skills</h3>
			{{ skills }}
		</div>
	</div>
	{% endif %} -->
</div>

<div style='margin-top: 40px' class="button container">
	<a class='finbyz-button'
	href='/job-application-form?new=1&job_title={{ doc.name }}'>
	{{ _("Apply Now") }}</a>
</div>

{% endblock %}
