{% if not no_breadcrumbs and parents %}
<div class="container" style="margin-top:40px !important;">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{%- set parents = parents[-3:] %}
			{% for parent in parents %}
				<li class="breadcrumb-item">
					<a href="{{ url_prefix }}{{ parent.route | abs_url }}">
						{{ parent.title or parent.label or parent.name or "" }}
					</a>
				</li>
			{% endfor %}
			<li class="breadcrumb-item active" aria-current="page">
				{{ title or "" }}
			</li>
		</ol>
	</nav>
</div>
{% endif %}