{%- if video -%}
<div class="container-fluid mt-50">
    <div class="row p-lr-50">
        <div class="col-lg-4 col-xl-4 web-title">
            <div class="title-font pt-100 pl-45">
                <h1 class="title-underline">{{ title }}</h1>
            </div>
        </div>
        <div class="col-lg-8 col-xl-8 text-center banner-jobs">
            <video width="100%" id="myVideo" src="{{ video }}" height="auto" muted="muted" autoplay>
                </video>
        </div>
    </div>
</div>
{%- elif image and doctype !="Blog Post" -%} {%- if doctype == "Job Opening" -%}
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12 col-xl-12 web-title">
                <div class="title-font pt-100">
                    <h1 class="title-underline">{{ title }}</h1>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-8 col-xl-8 text-center banner-jobs">
            <img alt="{{ title }}" height="100%" src="{{ image }}" title="{{ title }}">
        </div> -->
    </div>
</div>
{%- else -%}
<div class="container-fluid mt-50">
    <div class="row p-lr-50">
        <div class="col-lg-4 col-xl-4 web-title">
            <div class="title-font pt-100 pl-45">
                <h1 class="title-underline">{{ title }}</h1>
            </div>
        </div>
        <div class="col-lg-8 col-xl-8">
            <img alt="{{ title }}" height="auto" src="{{ image }}" class="float-right" title="{{ title }}">
        </div>
    </div>
</div>
{%- endif -%} {%- endif -%} {%- if doctype == "Web Form" and name == "contact" -%}
<div class="contact fullscreen  mt-40">
    <div class="contact fullscreen  mt-40">
        <div class="row">
            <div class="col-md-5 col-sm-12 contactbg">
                <h2 class="contact_title">Contact Us</h2>
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <div class="contact-info-image">
                            <img src="/files/icon-phone.svg" alt="Call Us" class="footer-icon" title="Call Us" > 
                        </div>
                        <div class="contact-details " style="width: 100%; ">
                            <a href="tel:9925701446" class="text-white" style="margin: auto 0;">Sales Inquiry:
                                +91-9925701446
                             </a><br>
                             <a href="tel:8200899005" class="text-white" style="margin: auto 0;">Service & Support:
                                +91-8200899005
                            </a><br>
                            <a href="tel:079 48912428" class="text-white" style="margin: auto 0;">Job Interviews:
                                 079 48912428
                            </a>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="contact-info-image">
                            <img src="/files/icon-email.svg" alt="Email" class="footer-icon" title="Mail Us"> 
                        </div>
                        <div class="contact-info-details "style="margin: auto 0;" >
                            <a class=" text-white" href="mailto:info@finbyz.com" >info@finbyz.tech</a>
                        </div>
                    </div>
                    <div class="d-flex ">
                        <div class="contact-info-image">
                            <img src="/files/icon-location.svg" alt="FinByz Location" class="footer-icon" title="Location"> 
                        </div>
                        <div class="contact-info-details " style="margin: auto 0;">
                            <span class=" text-white" ><h3>
                                Register Office
                            </h3>504-Addor Ambition,Nr. Navrang Circle,<br> Navrangpura,Ahmedabad, Gujarat 380009</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding: 0;" class="col-md-7 col-sm-12">
                <iframe allowfullscreen="" frameborder="0" height="430" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJSbfkVouEXjkR41KyNaJzb0s&amp;key=AIzaSyDAgHcWBFDp0LBydBl5H05PU-fAYP2Ujeo" style="border: 0;" width="100%"></iframe>
            </div>
        </div>
    </div>
    </div>
   
    
    <div class="container-fuild p-lr-50 mt-50">
        <div class="p-lr-50">
            <div class="row ">
                <div class="col-lg-12 heading text-center">
                    <h2 class="title-font title-underline">Branch Offices</h2>
                  
                </div>
            </div>
            <div class="row row-flex mt-50 ">
                <div class="mg-bottom col-lg-4 col-md-6 col-12 col-sm-12 finbyz-fadeinup" data-aos="zoom-in-down" data-aos-duration="2000">
                    <div class="content-box text-center container">
                        <img alt="Real-time information" class="finbyz-icon img-responsive" src="/files/Taj-mahal.svg" title="Real-time information">
                        <h3 class="content-box-title">India  Office</h3>
                        <div class="d-flex container">
                            <img alt="icon-location.svg" src="/files/icon-location.svg" width="35" height="35"  loading="lazy" style="color:transparent" >
                            
                        <span class="justify container">504-Addor Ambition, Navrangpura, Ahmedabad, Gujarat 380009, India<br/> 
                            </span>
                     
                        </div>
                            
                            </p>
                             <div class="contact-phone-icon my-3 container ">
                                            <div class="d-flex ">
                                                <img alt="call-svg" src="/files/icon-phone.svg" width="35" height="35" loading="lazy" style="color:transparent">
                                           
                                            <div class="">
                                                <div class="d-flex">
                                              
                                                    <a href="tel:+91-9925701446" class="mx-2">&nbsp;+91-9925701446</a>
                                                </div>
                                                
                                            </div>
                                             </div>
                                           
                                        </div>
                             <div class="contact-phone-icon my-3 container ">
                                            <div class="d-flex ">
                                                <img alt="mail-svg" src="/files/icon-email.svg" width="35" height="35"  loading="lazy" style="color:transparent">
                                           
                                            <div class="">
                                                <div class="d-flex">
                                                    <a href="mailto:india@finbyz.tech" class="mx-2">india@finbyz.tech</a>
                                                </div>
                                                
                                            </div>
                                             </div>
                                           
                                        </div>
                            
                    </div>
                </div>
                <div class="mg-bottom col-lg-4 col-md-6 col-12 col-sm-12 finbyz-fadeinup" data-aos="zoom-in-down" data-aos-duration="2000">
                    <div class="content-box text-center r_down">
                        <img alt="Goals & Higher Productivity" class="finbyz-icon img-responsive" src="/files/london-bridge.svg" title="Higher Productivity improves Business">
                        <h3 class="content-box-title container">UK  Office</h3>
                        <div class="d-flex container">
                            <img alt="icon-location.svg" src="/files/icon-location.svg" width="35" height="35"  loading="lazy" style="color:transparent" >
                            
                        <span class="justify container">49 Bridge St, Rugby CV21 2BH, UK<br/> 
                            </span>
                     
                        </div>
                      
                            <div class="contact-phone-icon my-3 container ">
                                            <div class="d-flex ">
                                                <img alt="call-svg" src="/files/icon-phone.svg" width="35" height="35"  loading="lazy" style="color:transparent">
                                           
                                            <div class="">
                                                <div class="d-flex">
                                                    
                                                    <a href="tel:+44 7767905569" class="mx-2">&nbsp;+44 7767 905569</a>
                                                </div>
                                                
                                            </div>
                                             </div>
                                           
                                        </div>
                            <div class="contact-phone-icon my-3 container ">
                                            <div class="d-flex ">
                                                <img alt="mail-svg" src="/files/icon-email.svg" width="35" height="35"  style="color:transparent">
                                           
                                            <div class="">
                                                <div class="d-flex">
                                                    <a href="mailto:uk@finbyz.tech" class="mx-2">uk@finbyz.tech</a>
                                                </div>
                                                
                                            </div>
                                             </div>
                                           
                                        </div>
                    </div>
                </div>
                <div class="mg-bottom col-lg-4 col-md-6 col-12 col-sm-12 finbyz-fadeinup" data-aos="zoom-in-down" data-aos-duration="2000">
                    <div class="content-box text-center">
                        <img alt="Improved TeamWork & Collaboration" class="finbyz-icon img-responsive" src="/files/CN-Tower.svg" title="Improved TeamWork & Collaboration">
                        <h3 class="content-box-title container">Canada  Office</h3>
                        <div class="d-flex container">
                            <img alt="icon-location.svg" src="/files/icon-location.svg" width="35" height="35"  loading="lazy" style="color:transparent" >
                            
                        <span class="justify container">753 Suzanne St, Timmins, ON P4N 5K4, Canada<br/> 
                            </span>
                     
                        </div>
                      
                           <div class="contact-phone-icon my-3 container ">
                                            <div class="d-flex ">
                                                <img alt="call-svg" src="/files/icon-phone.svg" width="35" height="35"  style="color:transparent">
                                           
                                            <div class="">
                                                <div class="d-flex">
                                                    
                                                    <a href="tel:+1 705 9510352" class="mx-2">&nbsp;+1 705 9510352</a>
                                                </div>
                                                
                                            </div>
                                             </div>
                                           
                                        </div>
                            <div class="contact-phone-icon my-3 container ">
                                            <div class="d-flex ">
                                                <img alt="mail-svg" src="/files/icon-email.svg" width="35" height="35"  loading="lazy" style="color:transparent">
                                           
                                            <div class="">
                                                <div class="d-flex">
                                                    <a href="mailto:canada@finbyz.tech" class="mx-2">canada@finbyz.tech</a>
                                                </div>
                                                
                                            </div>
                                             </div>
                                           
                                        </div>
                    </div>
                </div>
               
            </div>
        </div>
       
        <!-- row-end -->
    </div>
    
   
   
    
{%- endif -%}