<section class="gallery">
    <div class="container-fluid">
        <div class="row p-lr-50">
            <h2 class="title-underline">Gallery</h2>
            <div class="owl-carousel gallery-module-owl-carousel">
                {% for gallery in gallery_links %}
                <div class="item">
                    <div class="module-item-box mt-20">
                        <a class="" href="/{{ frappe.db.get_value('Gallery',gallery.gallery,'route') }}">
                        <div class="gallery-img">
                            <img alt="{{ frappe.db.get_value('Gallery',gallery.gallery,'title') or  gallery.title }}"
                                src="{{ frappe.db.get_value('Gallery',gallery.gallery,'svg_image') or  gallery.gallery }}"
                                title="{{ frappe.db.get_value('Gallery',gallery.gallery,'title') or  gallery.title }}" height="140">
                        </div>
                        
                        <div class="module-detail">
                           
                                <br>
                                <p class="link-underline">
                                    {{frappe.db.get_value('Gallery', gallery.gallery, 'gallery_title') or gallery.title}}
                                    <!-- {{ frappe.db.get_value('Gallery',gallery.gallery,'title') or  gallery.title }} -->
                                </p><br>
                           
                        </div>
                         </a>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                            aria-label="Previous">‹</span></button><button type="button" role="presentation"
                        class="owl-next"><span aria-label="Next">›</span></button></div> -->
            </div>
        </div>
        
    </div>
</section>