<div class="container-fluid header-hide-content pt-2">
    <div class="d-flex align-items-center nav_contact_h">
      <!-- social icon -->
        <div class="hs-unfold">
            <p class="ff-libre t-white footer-txt-sm px-3 d-flex">
                        <span class="pr-2" style="font-size: 16px;">
                             Meet us on
                        </span>
                        <span class="social-icons_nav pr-3">
                            <a href="https://www.facebook.com/FinByz" target="_blank">
                                <img class="finbyz-top-social-icon" alt="facebook.com/Finbyz" src="/files/social-facebook.svg" title="facebook.com/Finbyz">
                            </a>
                        </span>
                        <span class="social-icons_nav pr-3">
                            <a href="https://www.linkedin.com/company/finbyz" target="_blank">
                                <img class="finbyz-top-social-icon" alt="linkedin.com/company/finbyz" src="/files/social-linkedin.svg" title="linkedin/finbyz">
                            </a>
                        </span>
                        <span class="social-icons_nav pr-3">
                            <a href="https://twitter.com/FinByz" target="_blank">
                                <img class="finbyz-top-social-icon"  alt="Twitter/FinByz" src="/files/social-twitter.svg" title="Twitter/FinByz">
                            </a>
                        </span>
                        <span class="social-icons_nav pr-3">
                            <a href="https://www.instagram.com/finbyz/" target="_blank">
                                <img class="finbyz-top-social-icon"  alt="instagram.com/finbyz/" src="/files/social-insta.svg" title="instagram/finbyz">
                            </a>
                        </span>
                        <span class="social-icons_nav pr-3">
                            <a href="https://www.youtube.com/c/Finbyz" target="_blank">
                                <img class="finbyz-top-social-icon" alt="youtube.com/c/Finbyz" src="/files/social-youtube.svg" title="youtube/Finbyz">
                            </a>
                        </span>
            </p>
    </div>
      <!-- social icon -->

    <div class="ml-auto">
        <!-- Jump To -->
        <div class="hs-unfold d-sm-none show">
            <div class="dropdown">
                <a class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #FFFFFF;">
                    Jump To
                </a>
                <div class="dropdown-menu box-border p-1" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item p-0" href="mailto:info@finbyz.com"><p class="ff-libre t-white footer-txt-sm d-flex justify-content-md-end pl-3 pl-md-0 pr-md-4 pr-lg-4 mr-3">
                        <span class="pr-xl-3 pr-2">
                            <img alt="" src="/files/icon-mail.svg">
                        </span>
                        <span class="ltr-sp-1" style="font-size: 16px; color:#000;">info@finbyz.com</span>
                    </p></a>
                    <a class="dropdown-item p-0" href="#"><p class="ff-libre t-white footer-txt-sm d-flex justify-content-md-end pl-3 pl-md-0 pr-md-4 pr-lg-4">
                        <span class="pr-xl-3 pr-2">
                            <img alt="" src="/files/icon-call.svg">
                        </span>
                        <span class="ltr-sp-1" style="font-size: 16px; color:#000;"> +91 9925701446</span>

                    </p></a>
                </div>
            </div>

          
        </div>
        <!-- End Jump To -->

        <!-- Links -->
        <div class="nav nav-sm nav-y-0 d-none d-sm-flex ml-sm-auto">
            <p class="ff-libre t-white  footer-txt-sm d-flex justify-content-md-center pl-3 pl-md-0 mr-3">
                        <span class="pr-xl-3 pr-2">
                            <img alt="info@finbyz.com" src="/files/icon-mail-nav.svg" title="info@finbyz.com">
                        </span>
                        <span style="font-size: 16px;">Mail:
                            <a class="t-white_mail" href="mailto:info@finbyz.com">info@finbyz.com</a>
                        </span>
            </p>
             <p class="ff-libre t-white footer-txt-sm d-flex justify-content-md-end pl-3 pl-md-0 pr-md-4 pr-lg-4">
                        <span class="pr-xl-3 pr-2">
                            <img alt="" src="/files/icon-call-nav.svg">
                        </span>
                        <span style="font-size: 16px;">Phone: </span>
                        <span class="ltr-sp-1" style="font-size: 16px;">+91 9925701446</span>

                    </p>
        </div>
        <!-- End Links -->
      </div>

      
    </div>
  </div>