
        <div class="landing-navbar-main-dark container-fluid header-hide-content pt-2 px-0">
            <div class="row hs-unfold d-none d-sm-block">
                <div class=" col-12">
                    <div class="row   nav_contact_h">
                        <div class="col-xl-2 col-sm-4 col-md-2 col-12 ">
                             <!-- social icon -->
                            <p class="t-white footer-txt-sm px-2 d-flex">
                                <span class="pr-2">
                                     Meet us on
                                </span>
                                 <span class="social-icons_nav pr-2">
                                    <a href="https://www.facebook.com/FinByz" target="_blank" rel="noopener">
                                        <img class="finbyz-top-social-icon" alt="facebook.com/Finbyz" src="/files/social-facebook.svg" title="facebook.com/Finbyz">
                                    </a>
                                </span>
                                <span class="social-icons_nav pr-2">
                                    <a href="https://www.linkedin.com/company/finbyz" target="_blank" rel="noopener">
                                        <img class="finbyz-top-social-icon" alt="linkedin.com/company/finbyz" src="/files/social-linkedin.svg" title="linkedin/finbyz">
                                    </a>
                                </span>
                                <span class="social-icons_nav pr-2">
                                    <a href="https://twitter.com/FinByz" target="_blank" rel="noopener">
                                        <img class="finbyz-top-social-icon"  alt="Twitter/FinByz" src="/files/social-twitter.svg" title="Twitter/FinByz">
                                    </a>
                                </span>
                                <span class="social-icons_nav pr-2">
                                    <a href="https://www.instagram.com/finbyz/" target="_blank" rel="noopener">
                                        <img class="finbyz-top-social-icon"  alt="instagram.com/finbyz/" src="/files/social-insta.svg" title="instagram/finbyz">
                                    </a>
                                </span>
                                <span class="social-icons_nav pr-2">
                                    <a href="https://www.youtube.com/c/Finbyz" target="_blank" rel="noopener">
                                        <img class="finbyz-top-social-icon" alt="youtube.com/c/Finbyz" src="/files/social-youtube.svg" title="youtube/Finbyz">
                                    </a>
                                </span>
                            </p>
                         </div>
    
                        <div class="col-xl-10 col-sm-8 col-md-10 col-12 p-0">
        
                            <p class="ff-libre t-white  footer-txt-sm d-flex justify-content-around px-3" >
                                <span class="mr-1">
                                    <img alt="info@finbyz.com" src="/files/nav-career.svg" title="HR" style="height: auto; width: 32px;">
                                    <span> </span><span> </span><span> </span>
                                    HR:
                                    <a class="t-white_mail" href="mailto:info@finbyz.com">+91 9978419445</a>
                                </span>
                           
                                <span class="mr-1">
                                    <img alt="India" src="/files/India.svg" height=auto  width="30px">
                                India: 
                                <a class="t-white_mail pr-2" href="tel:+919925701446">+91 9925701446</a>
                                </span>
                                <span class="mr-1">
                                    <img alt="Canada" src="/files/Canada.svg" height=auto width="30px">
                               Canada: 
                                <a class="t-white_mail pr-2" href="tel:+1 705 9510352">+1 705 9510352</a>
                                </span>
                                 <span class="mr-1">
                                    <img alt="UK" src="/files/United Kingdom.svg" height=auto width="30px">
                                 UK: 
                                <a class="t-white_mail pr-2" href="tel:+44 7767905569">+44 7767905569</a>
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="container ">
                    <div class="d-sm-none show ">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-start">
                                <a href="tel:+919925701446">
                                    <p class="t-white ltr-sp-1">
                                        <span>
                                            <img alt="india" src="/files/India.svg" height="25px" width="25px">
                                        </span>
                                        <span>+91 9925701446</span>
                                    </p>
                                </a> 
                            </div>
                            <div class="col-6 d-flex justify-content-start">
                                <a href="tel:+1 705 9510352">
                                    <p class="t-white ltr-sp-1">
                                        <span>
                                            <img alt="Canada" src="/files/Canada.svg" height="25px" width="25px">
                                        </span>
                                        <span>+1 705 9510352</span>
                                    </p>
                                </a> 
                            </div>
                           
                        </div>
                    </div>
                </div>
        </div>

    