<div class="container-fluid header-hide-content pt-2">
    <div class="d-flex align-items-center">
      <!-- Language -->
      <div class="hs-unfold">
        <p class="ff-libre t-white footer-txt-sm px-3 d-flex">
                        <span class="pr-2" style="font-size: 16px;">
                            <!-- Meet us on -->
                        </span>
                        <span class="social-icons_nav pr-2">
                            <a href="https://www.facebook.com/FinByz" target="_blank">
                                <img class="finbyz-top-social-icon" alt="facebook.com/Finbyz" src="/files/social-facebook.svg" title="facebook.com/Finbyz">
                            </a>
                        </span>
                        <span class="social-icons_nav pr-2">
                            <a href="https://www.linkedin.com/company/finbyz" target="_blank">
                                <img class="finbyz-top-social-icon" alt="linkedin.com/company/finbyz" src="/files/social-linkedin.svg" title="linkedin/finbyz">
                            </a>
                        </span>
                        <span class="social-icons_nav pr-2">
                            <a href="https://twitter.com/FinByz" target="_blank">
                                <img class="finbyz-top-social-icon"  alt="Twitter/FinByz" src="/files/social-twitter.svg" title="Twitter/FinByz">
                            </a>
                        </span>
                        <span class="social-icons_nav pr-2">
                            <a href="https://www.instagram.com/finbyz/" target="_blank">
                                <img class="finbyz-top-social-icon"  alt="instagram.com/finbyz/" src="/files/social-insta.svg" title="instagram/finbyz">
                            </a>
                        </span>
                        <span class="social-icons_nav pr-2">
                            <a href="https://www.youtube.com/c/Finbyz" target="_blank">
                                <img class="finbyz-top-social-icon" alt="youtube.com/c/Finbyz" src="/files/social-youtube.svg" title="youtube/Finbyz">
                            </a>
                        </span>
                    </p>

        <div id="languageDropdown" class="hs-unfold-content dropdown-menu hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated" data-hs-target-height="134" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut" style="animation-duration: 300ms;">
          <a class="dropdown-item active" href="#">English</a>
          <a class="dropdown-item" href="#">Deutsch</a>
          <a class="dropdown-item" href="#">Español‎</a>
        </div>
      </div>
      <!-- End Language -->

      <div class="ml-auto">
        <!-- Jump To -->
        <div class="hs-unfold d-sm-none show">
          <div class="dropdown">
  <a class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #FFFFFF;">
    Jump To
  </a>
  <div class="dropdown-menu box-border p-1" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
    <a class="dropdown-item p-0" href="mailto:info@finbyz.com"><p class="ff-libre t-white footer-txt-sm d-flex justify-content-md-end pl-3 pl-md-0 pr-md-4 pr-lg-4 mr-3">
        <span class="pr-xl-3 pr-2">
            <img alt="" src="/files/icon-mail.svg">
        </span>
        <span class="ltr-sp-1" style="font-size: 16px; color:#000;">info@finbyz.com</span>

    </p></a>
    <a class="dropdown-item p-0" href="#"><p class="ff-libre t-white footer-txt-sm d-flex justify-content-md-end pl-3 pl-md-0 pr-md-4 pr-lg-4">
        <span class="pr-xl-3 pr-2">
            <img alt="" src="/files/icon-call.svg">
        </span>
        <span class="ltr-sp-1" style="font-size: 16px; color:#000;"> +91 9925701446</span>

    </p></a>
  </div>
</div>

          
        </div>
        <!-- End Jump To -->

        <!-- Links -->
        <div class="nav nav-sm nav-y-0 d-none d-sm-flex ml-sm-auto">
          <p class="ff-libre t-white  footer-txt-sm d-flex justify-content-md-center pl-3 pl-md-0 mr-3">
                        <span class="pr-xl-3 pr-2">
                            <img alt="info@finbyz.com" src="/files/icon-mail.svg" title="info@finbyz.com">
                        </span>
                        <span style="font-size: 16px;">Mail:
                            <a class="t-white" href="mailto:info@finbyz.com" style="color: #FFFFFF;">info@finbyz.com</a>
                        </span>
                    </p>
          <p class="ff-libre t-white footer-txt-sm d-flex justify-content-md-end pl-3 pl-md-0 pr-md-4 pr-lg-4">
                        <span class="pr-xl-3 pr-2">
                            <img alt="" src="/files/icon-call.svg">
                        </span>
                        <span style="font-size: 16px;">Phone:
                        </span>
                        <span class="ltr-sp-1" style="font-size: 16px;"> +91 9925701446</span>

                    </p>
        </div>
        <!-- End Links -->
      </div>

      <ul class="list-inline ml-2 mb-0">
        <!-- Search -->
        <li class="list-inline-item">
          <div class="hs-unfold">
            <a class="js-hs-unfold-invoker btn btn-xs btn-icon btn-ghost-secondary" href="javascript:;" data-hs-unfold-options="{
                &quot;target&quot;: &quot;#searchPushTop&quot;,
                &quot;type&quot;: &quot;jquery-slide&quot;,
                &quot;contentSelector&quot;: &quot;.search-push-top&quot;
               }" data-hs-unfold-target="#searchPushTop" data-hs-unfold-invoker="">
              <i class="fas fa-search"></i>
            </a>
          </div>
        </li>
        <!-- End Search -->

        <!-- Shopping Cart -->
        <li class="list-inline-item">
          <div class="hs-unfold">
            <a class="js-hs-unfold-invoker btn btn-xs btn-icon btn-ghost-secondary" href="javascript:;" data-hs-unfold-options="{
                &quot;target&quot;: &quot;#shoppingCartDropdown&quot;,
                &quot;type&quot;: &quot;css-animation&quot;,
                &quot;event&quot;: &quot;hover&quot;,
                &quot;hideOnScroll&quot;: &quot;true&quot;
               }" data-hs-unfold-target="#shoppingCartDropdown" data-hs-unfold-invoker="">
              <i class="fas fa-shopping-cart"></i>
            </a>

            <div id="shoppingCartDropdown" class="hs-unfold-content dropdown-menu dropdown-menu-right dropdown-card text-center hs-unfold-hidden hs-unfold-content-initialized hs-unfold-css-animation animated" style="min-width: 275px; animation-duration: 300ms;" data-hs-target-height="218.906" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut">
              <div class="card" style="transform-style: preserve-3d; transform: matrix(1, 0, 0, 1, 0, 0);">
                <div class="card-body">
                  <figure class="max-w-9rem mx-auto mb-3">
                    <img class="img-fluid" src="../../assets/svg/illustrations/empty-cart.svg" alt="SVG">
                  </figure>
                  <span class="d-block">Your cart is empty</span>
                </div>

                <div class="card-footer">
                  <small>Free shipping on orders over <strong class="text-dark">$50</strong></small>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- End Shopping Cart -->

        <!-- Account Login -->
        <li class="list-inline-item">
          <div class="hs-unfold">
            <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-ghost-secondary" href="javascript:;" data-hs-unfold-options="{
                &quot;target&quot;: &quot;#sidebarContent&quot;,
                &quot;type&quot;: &quot;css-animation&quot;,
                &quot;animationIn&quot;: &quot;fadeInRight&quot;,
                &quot;animationOut&quot;: &quot;fadeOutRight&quot;,
                &quot;hasOverlay&quot;: &quot;rgba(55, 125, 255, 0.1)&quot;,
                &quot;smartPositionOff&quot;: true
               }" data-hs-unfold-target="#sidebarContent" data-hs-unfold-invoker="">
              <i class="fas fa-user-circle"></i>
            </a>
          </div>
        </li>
        <!-- End Account Login -->
      </ul>
    </div>
  </div>