<div class="landing-navbar-main-dark container-fluid px-0">
    <div class="row">
        <div class=" col-12">
            <div class="row footer-dark">
                <div class="col-xl-4 col-sm-5 col-12">
                    <p class="ff-libre t-white footer-txt-sm px-3">
                        <span class="pr-2">
                            Meet us on
                        </span>
                        <span class="social-icon pr-2">
                            <a href="https://www.facebook.com/FinByz" target="_blank" rel="noopener">
                                <img crossorigin="" alt="facebook.com/Finbyz" src="/files/social-facebook.svg"
                                    title="facebook.com/Finbyz" height="15" width="15" />
                            </a>
                        </span>
                        <span class="social-icon pr-2">
                            <a href="https://www.linkedin.com/company/finbyz" target="_blank" rel="noopener">
                                <img alt="linkedin.com/company/finbyz" src="/files/social-linkedin.svg"
                                    title="linkedin/finbyz" height="15" width="15" />
                            </a>
                        </span>
                        <span class="social-icon pr-2">
                            <a href="https://twitter.com/FinByz" target="_blank" rel="noopener">
                                <img alt="Twitter/FinByz" src="/files/social-twitter.svg" title="Twitter/FinByz" height="15" width="15" />
                            </a>
                        </span>
                        <span class="social-icon pr-2">
                            <a href="https://www.instagram.com/finbyz/" target="_blank" rel="noopener">
                                <img alt="instagram.com/finbyz/" src="/files/social-insta.svg"
                                    title="instagram/finbyz" height="15" width="15" />
                            </a>
                        </span>
                        <span class="social-icon pr-2">
                            <a href="https://www.youtube.com/c/Finbyz" target="_blank" rel="noopener">
                                <img alt="youtube.com/c/Finbyz" src="/files/social-youtube.svg"
                                    title="youtube/Finbyz" height="15" width="15" />
                            </a>
                        </span>
                    </p>
                </div>
                <div class="col-xl-4 col-sm-3 col-12 px-md-0">
                    <p
                        class="ff-libre t-white text-right footer-txt-sm d-flex justify-content-md-center pl-3 pl-md-0">
                        <span class="pr-xl-3 pr-2">
                            <img alt="info@finbyz.com" src="/files/icon-mail.svg" title="info@finbyz.com">
                        </span>
                        <span>Mail :
                            <a class="t-white" href="mailto:info@finbyz.com">info@finbyz.com</a>
                        </span>
                    </p>
                </div>
                <div class="col-xl-4 col-sm-4 col-12 px-md-0 px-xl-3">
                    <p
                        class="ff-libre t-white text-right footer-txt-sm d-flex justify-content-md-end pl-3 pl-md-0 pr-md-4 pr-lg-4">
                        <span class="pr-xl-3 pr-2">
                            <img alt="" src="/files/icon-call.svg">
                        </span>
                        <span>Phone :
                        </span>
                        <span class="ltr-sp-1"> +91 9925701446</span>

                    </p>
                </div>

            </div>
        </div>
    </div>
</div>